.social_media_wrapper .dropdown-toggle::after {
    display: none;
}

.menu_items .dropdown-item:focus, .dropdown-item:hover {
    color: unset !important;
    background-color: unset !important;
}

.dashboard-report-social-media {
    height: 40px;
}

.dashboard-report-data-loader {
    height: 30px;
}

.chart-container {
    position: relative;
    width: 100%;
    /* height: 400px; */
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Light white overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.loading-text {
    font-size: 1.3rem;
    font-family: "Nunito";
    font-weight: 500;
    color: #00000080;
}

@keyframes blink {
    50% {
        color: transparent
    }
}

.loader__dot {
    font-size: 50px;
    animation: 1s blink infinite
}

.loader__dot:nth-child(2) {
    animation-delay: 250ms
}

.loader__dot:nth-child(3) {
    animation-delay: 500ms
}

.user_Details img {
    border-radius: 5px;
}

.connectDisconnect_btn_outer {
    display: flex;
    gap: 23px;
}

.menu_items a.dropdown-item {
    padding: 0px;
    margin-top: 14px;
    cursor: auto
}

.menu_items li {
    padding: 0px;
    margin-top: 14px;
    cursor: auto
}

.menu_items li:first-child {
    margin-top: 0px;
}

button#dropdown-facebook.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active {
    background: white !important;
    border-color: unset !important;
    color: unset !important;
}

.cmn_drop_down.dropdown {
    border-bottom: 1px solid #C6D2E0;
    /*padding-bottom: 12px;*/
}

button.ConnectBtn {
    background: #F07C33 !important;
    color: white;
    width: 144px;
    height: 39px;
    border-radius: 5px;
    border: 1px solid var(--neutral-700, #D1D9E2);
}

.dropdown-item:active {
    background: transparent;
}

.user_profileInfo_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_Details h4 {
    color: #5F6D7E;
    font-size: 14px;
}

.user_Details {
    display: flex;
    gap: 8px;
    align-items: center;
}

.connect_text {
    color: #038000;
    line-height: 20px;
    letter-spacing: -0.01px;
    font-size: 10px;
    font-family: "Nunito";
    font-weight: 400;
}
.user_profileInfo_wrapper .connect_text {
    font-weight: 600;
}

.connect_text_not_connect {
    color: rgb(255, 58, 58);
    line-height: 20px;
    letter-spacing: -0.01px;
    font-size: 10px;;
}

.not_connect_text {
    color: #F69999;
    line-height: 20px;
    letter-spacing: -0.01px;
    font-size: 10px;
}

button.DisConnectBtn {
    border-radius: 5px;
    border: 1px solid #D1D9E2;
    background: #E6E9EC !important;
    color: #393939;
    /* min-width: 111px; */
    height: 39px;
}


.followers_outer {

    display: flex;
    gap: 15px;
}

.followers_wrapper {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.10);
    flex-grow: 1;
    width: 100%;
}

.cmn_background {
    border-radius: 12px;
    background: #FFF;
    min-height: 100%;
    box-shadow: 2px 0px 21px 0px rgba(226, 232, 240, 0.68)
}


.upcoming_post_outer .draft-outer .post_image_outerwrapper {
    height: 196px;
}

element.style {
    display: flex;
}

.delete_btn_outer {
    display: flex;
}

.followers_wrapper h5 {
    color: #232934;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.024px;
    background: #F4F4F4;
    padding: 15px;
    font-family: "Nunito";
    /* min-height: 70px; */
}

.followers_inner_content {
    padding: 15px;
}

.followers_wrapper h2 {
    color: var(--gray-500, #2E3646);
    font-size: 28px;
    font-weight: 700;
}


span.cmn_followers_btn {
    font-size: 14px;
    font-weight: 700;
    color: rgba(240, 124, 51, 1);
    line-height: 18px;
}

.dashboard_row {
    display: flex;
    gap: 30px;
}

.dashboardReport_outer {
    flex-grow: 1;
}

.social_account_outer {
    width: 381px;
}

.monthly_growth {
    display: flex;
    gap: 3px;
    margin-top: 10px;
    align-items: baseline;
 
}

.monthly_growth .cmn_followers_btn {
    cursor: auto;
    background: transparent;
    border: transparent;
    text-align: left;
    padding: 0;
}

.social_media_account {
    display: flex;
    justify-content: space-between;
}

.social_media_account h3 {
    color: #232934;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.024px;
    font-family: "Nunito";
}

.social_media_account h6 {
    color: #F07C33;
    font-size: 10px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.015px;
    text-decoration-line: underline;
}


.social_media_wrapper {
    padding: 16px 20px;
}

.social_media_outer {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    padding: 16px 0px;
    margin-top: 12px;
    border-bottom: 1px solid #C6D2E0;
    /*cursor: pointer;*/
}

.social_media_outer:first-child {
    border-bottom: unset;
}
h2.pagecount.fb_count {
    top: -9px;
}
.pagecount {
    font-size: 13px;
    color: red;
    background: #f2ecec;
    border-radius: 20px;
    height: 16px;
    width: 16px;
    text-align: center;
    padding-top: 0px;
    position: absolute;
    top: 0px;
    left: 11px;
    line-height: 16px;
}

.social_media_icon {
    position: relative;
}

.social_media_content {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 100%;
    position: relative;
}

.social_media_content svg {
    margin-left: auto;
}

.upcomingPostBtn_Outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #D1D9E2;
    padding: 20px;
    background-color: #F8F9FB;
    gap: 12px;

}

.upcoming_post_heading {
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 4px;
}
.social_accounts {
    max-height: calc(100vh - 122px);
    overflow: auto;
}
/* width */
.social_accounts::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.social_accounts::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.social_accounts::-webkit-scrollbar-thumb {
  background: #d1d9e2;
}


.upcomingPostBtn_Outer button.post_now.cmn_bg_btn, button.outline_btn.schedule_btn {
    max-width: 202px;
}

.cmn_drop_down.dropdown svg {
    transform: rotate(-0deg);
}

.cmn_drop_down.show.dropdown svg {

    transform: rotate(180deg);

}

.social_media_content h5 {
    color: #5F6D7E;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.015px;
    font-family: "Nunito";
}

h5.userName {
    white-space: nowrap;
}


.account_info {
    display: flex;
    justify-content: center;
    gap: 28px;
    padding: 15px;
}

.no_acc_container img {
    width: 80%;
}

button.facebook_connect > div > div {
    display: none !important;
}
.confirm_btn  button.facebook_connect > div > div:last-child {
font-size: 14px;
}
button.facebook_connect > div > div:last-child {
    display: block !important;
    text-align: center !important;
    font-weight: 500;
}

.confirm_btn  button.facebook_connect {
min-width: 110px !important;
height: 36px;
}
button.facebook_connect {
    min-width: 77px !important;
    text-align: center;
    height: 35px !important;
    margin: 0px !important;
}


.account_reached {
    background: #05A2FB;
}

.cmn_chart_btn {
    width: 14px;
    height: 14px;
    border-radius: 4px;
}

.account_group {
    display: flex;
    gap: 10px;
}

.total_follower {
    background: #F07C33;
}

.delete_post_btn {
    color: #2E3646;
    padding: 8px 46px;
    font-weight: 600;
    border: none;
    width: 100%;
}

.change_post_btn {
    padding: 8px 46px;
    width: 100%;
}

select.dropdown_days:focus{
    box-shadow: unset;
    outline: unset;
    border: unset;
}
select.dropdown_days {
    font-size: 13px;
    color: #5F6D7E;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.015px;
    padding: 6px 10px;
    min-width: 143px;
    height: 38px;
    border-radius: 10px;
    border: 1px solid #F3F7FD;
    box-shadow: 2px 2px 2px 0px #f5f4f4;
}

.dropdown_days:focus {
    box-shadow: unset;
    outline: unset;
}

select.page_title_options {
    padding: 6px 2px 6px 0px;
    border: none;
    font-size: 16px;
    background-color: transparent;

}

.instagram_overview_heading {
    color: #5F6D7E;
}

/*drop down side*/
.cmn_drop_down.dropdown button {
    background: transparent;
    border: transparent;
    width: 100%;
    padding: 0px;
    padding-left: 12px;
    padding-right: 12px;
}

.Account_not_connect_wrapper div.modal-content {
    border-radius: 30px;
}

img.connection-error-svg {
    height: 130px;
    width: 100%;
    margin-bottom: 20px;


}

.upside-down {
    transform: rotate(180deg);
}



.cmn_drop_down.show.dropdown .menu_items.dropdown-menu {
    position: relative !important;
    inset: unset !important;
    transform: unset !important;
    border: transparent;
    padding: 0;
}

.no-page-connected-outer {
    font-weight: 300;
    font-size: 14px;
    color: gray;
}
.choose_platform_dropdown{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.connect-page-btn {
    color: #04a3ff;
    text-decoration: underline;
}

.linkedin-icon-color {
    color: #004190;
    font-size: 24px;
}

div.upcomingPostBtn_Outer button {
    flex-grow: 1;
    font-size: 14px;
    font-weight: 600;

}
.No_Upcoming_Outer img{
    width: 400px;
}


.postdata_container{
    height: 40px;
    width: 40px;
    background: #E05905;
    border-radius: 40px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}
.postdata_wrapper{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;

}

.postdata_wrapper span {
    color: #3C87E0;
    font-size: 12px;
    font-weight: 700;
    padding-top: 15px;
    font-family: "Nunito";
}
.performing_post_heading{
    font-size: 20px;
    color: black;
    font-weight: 600;
}
.postdata_wrapper h5{
    font-size: 22px;
}
.post_performing_list{
    display: flex;
   gap: 15px;
   margin-top: 10px;
   margin-bottom: 0px;
}

.post_performing_list li h4{
    background: #F8F9FB;
    border-bottom: 1px solid #D9D9D9;
    padding: 11px;
}
.Performing_Post_container{
    padding: 20px 0px 0px;
}
.Performing_Post_container  h3{
    font-size: 22px;
    font-weight: 700;
    color: #2E3646;
    line-height: 38px;
}

.post_performing_list h4{
    color: #2E3646;
}
ul.post_performing_list li {
flex-grow: 1;
border-radius: 13px;
width: 100%;
 
}
.overview_heading{
    color: #4D4D4D;
    font-size: 18px;
    font-weight: 600;
    line-height: 38px;
}
.HiMiniArrowUpRight{
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: #3C87E0;
    color: white;
    text-align: center;
    font-size: 11px;
}
.HiMiniArrowUpRight svg{
    vertical-align: middle;
}

.upcomingPostBtn_Outer .outline_btn {
    border: 1px solid #D1D9E2;
    background: #E6E9EC;
    color: #2E3646;
}
.upcomingPostBtn_Outer .post_now {
    background: #F07C33;
}

.custom_select_days {
    padding-right: 20px; /* Adjust the padding to create space from the right side */
    appearance: none; /* Hide the default arrow in modern browsers */
    -webkit-appearance: none; /* Hide the default arrow in older versions of Safari */
    -moz-appearance: none; /* Hide the default arrow in older versions of Firefox */
    background-image: url("../../../images/down_arrow.svg"); /* Optionally, replace the arrow with a custom image */
    background-repeat: no-repeat;
    background-position: right 10px center;
    position: relative;
}

.not_account_content h6 {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Nunito';
    margin-top: 3em;
    padding-bottom: 15px;
    color: #000;
}

.account_not_connect_imcontainer {
    min-height: calc(100vh - 122px);
}

.not_account_content h5 {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 2em;
    color: #000;
}

.account_info canvas {
    width: 100% !important;
}

/* media query starts here */

@media screen and (min-width: 2560px) {
    .followers_outer {
        gap: 40px;
    }

    .No_Upcoming_Outer img {
        width: 37%;
    }
}

@media screen and (min-width: 1499px) {
    .upcoming_post_outer .draft-outer .post_image_outerwrapper {
        height: 350px;
    }
}

@media screen and (max-width: 1280px) {
    .social_media_outer {
        gap: 5px;
    }

    .dashboard_row {
        gap: 15px;
    }

    .upcomingPostBtn_Outer {
        gap: 13px;
    }

  

    .createPost_btn {
        margin-left: 9px;
        font-size: 12px;
    }


    .postActivity_InnerWrapper {
        flex-wrap: wrap;
    }

    button.facebook_connect {
        min-width: 77px !important;
        height: 33px !important;
    }

}

@media screen and (max-width: 1280px) {
    .post_performing_list {
        flex-wrap: wrap;
    }

    .post_performing_list h4 {
        font-size: 15px;
    }

    .performing_post_heading {
        font-size: 17px;
    }

    .postdata_wrapper h5 {
        font-size: 19px;
    }

    .followers_wrapper h5, .followers_inner_content {
        font-size: 13px;
        padding: 10px;
    }

}

@media screen and (max-width: 1024px) {

    .social_media_content, .followers_outer {
        flex-wrap: wrap;
    }

    .upcomingPostBtn_Outer {
        flex-wrap: wrap;
    }

    .social_media_wrapper {
        padding: 16px;
    }

    .followers_wrapper {
        margin-top: 15px;

    }

    .connectDisconnect_btn_outer {
        gap: 14px;
    }


    .followers_wrapper h2 {
        font-size: 20px;
    }

    .dropdown_btn_Outer_container {
        flex-wrap: wrap;
    }

    .Performing_Post_container h3 {
        font-size: 20px;
    }

    .overview_heading {
        font-size: 16px;
    }
}

@media screen and (max-width: 991px) {
    .social_media_outer {
        display: flex;
    }

    .cmn_background {
        min-height: 100%;
    }

    .social_media_wrapper {
        margin-top: 10px;
    }


}

@media screen and (max-width: 767px) {
    .monthly_growth {
        display: block;
    }
    .overview_heading{
        font-size: 15px;
    }
    .postdata_wrapper h5 {
        font-size: 17px;
    }
    .Performing_Post_container h3 {
        font-size: 17px;
    }
    .followers_wrapper  h5{
        font-size: 14px;
    }
    .account_not_connect_imcontainer{
        margin: 0px 10px;
    }
    
    select.page_title_options {
        font-size: 14px;
    }
    .instagram_overview_heading {
        font-size: 12px;
    }
    
    .upcomingPostBtn_Outer .post_now{
        margin-top: 10px;
    }
    .No_Upcoming_Outer h4{
        font-size: 16px;
    }
    .No_Upcoming_Outer img{
        width: 100%;
    }
    
    img.dropdown-page-logo {
        height: 20px;
        width: 20px;
    }
    
   
    .social_media_content{
        flex-wrap: wrap;
    }
    .connection-warning-text {
        font-size: 18px;
    
    }
    .noPostScheduled_img{
        width: 100%;
    }
    .NotConncted_text {
        font-size: 13px;
        line-height: 21px;
    }
 
    .social_media_outer{
        display: block;
    }
    button.facebook_connect{
        margin-top: 10px !important;
    }
    .monthly_growth h6 {
        padding-top: 10px;
    }

    .social_media_wrapper {
        margin-top: 20px;
    }

    

    /*  */
   
    .account_info {
        display: block;
        padding: 13px 5px;
        height: 260px;
        width: 71vw ;
    }

    .user_profileInfo_wrapper {
        display: block;
    }

    .connectDisconnect_btn_outer {
        flex-wrap: wrap;
    }
    .no_acc_container{
        padding: 20px !important;
    }

    button.DisConnectBtn {
        width: 115px !important;
        height: 35px !important;
    }

    button.ConnectBtn {
        width: 115px !important;
        height: 35px !important;
    }
   
    div.cmn_background {
        min-height: 100%;
        padding: 14px !important;
       
    }
    .No_Upcoming_Posts_heading{
        font-size: 14px;
    }
   .dashboardReport_outer{
    padding: 0px !important;
   }
}





.addy_logo {
    width: 160px;
    height: 100%;

}

.addy_icon{
    width: 67px;
    height: auto;
    margin-bottom: 8px;
    margin-top: 5px;
}

.insta-icon {
    color: purple !important;
    font-size: 24px ;
}

.btn-with-fixed-width {
    /*min-width: 120px; !* Adjust this value to your desired maximum width *!*/
    /*overflow: hidden;*/
    text-overflow: ellipsis;
}
.post_activity_outer .dropdown_btn .dropdown-menu a:first-child {
    border-top: unset !important;
}
.dropdown_btn .dropdown-menu.show {
    min-width: 193px;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.dropdown_btn .dropdown-item{
    padding: 10px;
    border-bottom: 1px solid #ededed;
    color: #5F6D7E !important;
    font-weight: 500;
}
.dropdown_btn .dropdown-item:last-child{
    border-bottom: unset;
}
.dropdown-page-logo {
    height: 27px;
    width: 27px;
    border-radius: 50%;
}

span.\39 0-day-txt {
    font-size: 10px;
    font-weight: 600;
    color: #524f4f;
    opacity: .8;
}

button.not_connect {
    position: absolute;
    border-radius: 2px;
    background: #F44455;
    border-color: transparent;
    color: #fff;
    font-size: 10px;
    left: 11px;
    top: -13px;
    border-radius: 3px;
}

.report_section_enable_btn {
    cursor: pointer;
    color: #eeeeee;
    background: #1a1d20;
}

.report_section_disable_btn {
    pointer-events: none;
    background-color: #eeeeee;
    color: #999999;
}

.report_section_selected_btn {
    background-color: #eeeeee;
    color: #F07C33;
    text-wrap: normal;
}

.tabs_pages {
    overflow-x: auto;
    white-space: nowrap;
    margin: 0px 23px;
    padding-bottom: 4px;
    padding-top: 20px;
}

/* width */
.tabs_pages::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}

/* Track */
.tabs_pages::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.tabs_pages::-webkit-scrollbar-thumb {
    background: #ddd;
}

/* Handle on hover */
.tabs_pages::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tabs_pages button.btn-with-fixed-width {
    border: 1px solid transparent;
    padding: 10PX 10px;
    border-radius: 4px;


}

.tabs_pages
button.btn-with-fixed-width.report_section_selected_btn {
    border-color: #f07c3a;
    background-color: rgb(240 124 58 / 14%);
}
.facebook_pages a img {
    flex: 0 0 24px;
    height: 24px;
    position: relative;
    top: 2px;
}
