button#dropdown-basic 
{
    border-radius: 10px;
    border: 1px solid #F3F7FD;
    background: #F4F4F4;
    color: #5F6D7E;
    color: #5F6D7E;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02px;
    padding: 14px;
}
.followers_outer{
box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.10);
padding: 16px 20px;
display: flex;
gap: 15px;
}
.cmn_background{
    border-radius: 22px;
    background: #FFF;
    min-height: 801px;
    box-shadow: 2px 0px 21px 0px rgba(226, 232, 240, 0.68)
}
.upcoming_post_outer {
    margin-top: 30px;
}

element.style {
    display: flex;
}
.delete_btn_outer {
    display: flex;
}
.followers_wrapper h5{
color: #232934;
font-size: 16px;
font-weight: 700;
line-height: 24px; 
letter-spacing: 0.024px;
background: #F4F4F4;
padding: 16px 20px;
} 
.followers_inner_content{
    padding: 16px 20px;
}
.followers_wrapper h2{
color: var(--gray-500, #2E3646);
font-size: 28px;
font-weight: 700;
line-height: 38px;
letter-spacing: -0.28px;
}
.cmn_followers_btn{
border-radius: 5px;
background: #00A3FF;
border: none;
color: #F2F6FC;
padding: 0px 10px;
display: flex;
align-items: center;
gap: 8px;
}
.monthly_growth{
    display: flex;
    gap: 10px;
    margin-top: 12px;
}
.social_media_account {
    display: flex;
    justify-content: space-between;
}
.social_media_account h3{
color: #232934;
font-size: 16px;
font-weight: 700;
line-height: 24px; 
letter-spacing: 0.024px;
}
.social_media_account h6{
color: #F07C33;
font-size: 10px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.015px;
text-decoration-line: underline;
}
.connect_btn{
border-radius: 10px;
border: none;
color: #F8F9FB;
}
.dropdown_btn{
padding: 32px 24px 0px;  
}
.cmn_connect_btn{
 font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; 
letter-spacing: -0.014px;
padding: 7px 14px
}
.social_media_wrapper{
    padding: 16px 20px;
}
.social_media_outer{
    display: flex;
    gap: 12px;
    padding: 16px 0px;
    justify-content: space-between;
}
.social_media_content{
    display: flex;
    gap: 12px;
}
.social_media_content h5{
color: #5F6D7E;
font-size: 15px;
font-weight: 600;
line-height: 22px;
letter-spacing: -0.015px;
}
.disconnect_btn{
border-radius: 5px;
border: 1px solid  #D1D9E2;
background: #E6E9EC;
color: #393939;
}
/* upcoming_post */
.post_content h4{
color: #585858;
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
letter-spacing: 0.024px;
padding-top: 12px;
}
.upcoming_post_outer h2{
color: #000;
font-size: 20px;
font-weight: 700;
line-height: 38px; 
letter-spacing: -0.2px;
}
.Tomorrow_btn{
    border: none;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.user_outer{
    display: flex;
    gap: 10px;
    align-items: center;
}
.post_outer{
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    
}
.post_content {
    padding: 16px 20px;
}
.upcoming_post_container{
    background-image: url("../../../images//post_bg.png");
    height: 196px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px; 
    background-repeat: no-repeat;
    
}
.account_info {
    display: flex;
    justify-content: center;
    gap: 28px;
}
.page_title_header{
    padding: 16px 20px;
}
.account_reached {
    background: #05A2FB;
}
.cmn_chart_btn{
    width: 14px;
    height: 14px;
    border-radius: 4px;
}
.account_group{
    display: flex;
    gap: 10px;
}
.total_follower{
background: #F07C33;
}

.delete_post_btn {
color: #2E3646;
padding: 8px 46px;
font-weight: 600;
border: none;
width: 100%;
}
.change_post_btn{
    padding: 8px 46px;
    width: 100%;
}
.page_title_container {
    display: flex;
    justify-content: space-between;
   
}
 .dropdown_days {
font-size: 10px;
background: white;
border: none;
color: #5F6D7E;
font-family: Nunito;
font-style: normal;
font-weight: 600;
line-height: 24px; 
letter-spacing: 0.015px;
padding: 10px 9px 10px 20px;
}

select.page_title_options {
    padding: 6px 2px 6px 0px;
    border: none;
    font-size: 16px;
    
}
.instagram_overview_heading{
    color: #5F6D7E;
}
 @media screen and (max-width:1024px){
    .followers_outer{
        display: block;
    }
    .social_media_outer{
        display: block;
    }
    .disconnect_btn{
        margin-top: 10px;
    }
    .connect_btn {
        margin-top: 10px;
    }
    .followers_wrapper h2{
        font-size: 20px;
    }
    .delete_post_btn,.change_post_btn {
        padding: 8px 14px;
 }
}
 @media screen and (max-width:991px) {
    .social_media_outer{
        display: flex;
    }
    .cmn_background{
        min-height: 100%;
    }
 }
@media screen and (max-width:767px){
    /* upcoming post  */
    .change_post_btn {
        padding: 8px 42px;
        margin-left: 0px !important;
        margin-top: 13px;
    }
    .delete_btn_outer {
        display: flex;
        flex-wrap: wrap;
    }
    /*  */
    .monthly_growth{
        display: block;
    }
    .monthly_growth h6{
        padding-top: 10px;
    }
    .social_media_wrapper {
        margin-top: 20px;
    }
    .connect_btn,.disconnect_btn {
        margin-top: 15px;
    }
    /*  */
    .page_title_container{
        display: block;
    }
    .account_info{
        display: block;
    }
    

}