.loader_outers{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    background: rgba(0,0,0,30%);
}
span.spinner-border.spinner-border-sm.loader {
    height: 25px;
    width: 25px;
}
span.spinner-border.spinner-border-sm.loader.create-post-loader {
    height: 15px;
    width: 15px;
}