.editprofile_outer {
    padding: 20px 35px;
  

}
.user_pic{
    height: 140px;
    width: 140px;
    border-radius: 50%;
}
.update-pic-loading{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.change_password_btn{
    flex-direction: row-reverse;
}
.user_pic_container{
    position: relative;
}
.edit_content{
    flex-grow: 1;
}
ul.mb-3.edit_tabs.nav.nav-tabs {
     border-bottom: unset;
    margin-left: 20px;
 
}
.edit_profile_heading{
    border-bottom: 1px solid #dddbdb;
    padding: 20px 30px;



}
label.changeProfile_label.updateAccount_label {
    background: #f07c33;
    color: white;
    border-radius: 7px;
    padding: 6px 9px;
    font-size: 21px;
}
.edit_tabs.nav-link:focus, .nav-link:hover {
    color: #e97011 !important;
}
.astrick{
    color: red;
}
.edit_tabs.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
border-color: unset !important;
isolation: unset !important;
}
.edit_tabs .nav-link{
    color:#e97011 !important;
    margin-top: 20px;
    border-radius: 10px;
    border: unset !important;
}
.btn_style{
    border: none;
    color: white;
    padding: 8px 28px;
    margin-top: 20px;
}
.change_profile{
    display: none;
}
label.edit_label:hover {
    color: #e97011;
    background: white;
    border: 1px solid #e97011;
}
label.edit_label{
    background: #e97011;
    cursor: pointer;
    padding: 8px 11px;
    border-radius: 5px;
    color: white;
    font-size: 24px;
}
.changeProfile_label{
    cursor: pointer;
    font-size: 16px;
    background: #e97011;
    border-radius: 30px;
    height: 35px;
    width: 35px;
    color: white;
    text-align: center;
    padding-top: 4px;
    transform: translate(-8px, -36px)
    
}
.change_profile_outer {
    display: flex;
   justify-content: space-between;

}
.user_name_heading{
    color: #2E3646;
    font-size: 20px;
}

.ImSpinner_icon{
    font-size: 20px;
}
.tooltip-inner {
    background-color: #ee7817 !important; 
    color: #fff; 
    border: 1px solid #ee7817; 
  }
  
  .tooltip-arrow::before {
    border-right-color: #ee7817 !important; 
  }
  
 
  .edit_label_container{
    text-align: right;
  }
  .cmn_select_box{
    appearance: auto !important;
    /* color: #9d9a9a !important; */
  }
  .changeProfile_label:hover {
    background: white;
    color: #e97011;
}
@media screen and (min-width:1499px) {
    .editprofile_outer{
        width: 78%;
        margin: auto;
    
    }
    .edit_profile_heading {
        width: 78%;
        margin: auto;
    }
}
@media screen and (max-width:991px) {
    .user_pic {
        height: 110px;
        width: 110px;
    }
}
 @media screen and (max-width:767px){

    label.edit_label {
        padding: 4px 6px;
        font-size: 20px;
    }
    .editprofile_outer {
        padding: 20px 16px;
    }
    .update-pic-loading svg{
        height: 25px;
        width: 25px;
    }
    .user_pic {
        height: 80px;
        width: 80px;
    }
    .change_profile_outer{
       align-items: center;
       
    }
    .changeProfile_label{
        transform: translate(5px, -36px );
        font-size: 14px;
        height: 30px;
        width: 30px;
        padding-top: 2px;
    }
    h3.user_name_heading {
        margin-top: 12px;
      
    }
 }