.editprofile_outer {
    padding: 20px;
    /* width: 60%;
    margin: auto;
    height: 100%; */

}
.user_pic{
    height: 140px;
    width: 140px;
    border-radius: 50%;
}
.update-pic-loading{
    position: absolute;
    left: 47%;
    right: 47%;
    top: 50px;
}
.change_password_btn{
    flex-direction: row-reverse;
}
.user_pic_container{
    position: relative;
}
.edit_content{
    flex-grow: 1;
}
ul.mb-3.edit_tabs.nav.nav-tabs {
     border-bottom: unset;
    margin-left: 20px;
 
}
.edit_profile_heading{
   font-weight: 600;
    border-bottom: 1px solid #dddbdb;
    padding: 20px;
    color: #2e3646;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.28px;
}
label.changeProfile_label.updateAccount_label {
    background: #f07c33;
    color: white;
    border-radius: 7px;
    padding: 6px 9px;
    font-size: 21px;
}
.edit_tabs.nav-link:focus, .nav-link:hover {
    color: #e97011 !important;
}
.astrick{
    color: red;
}
.edit_tabs.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
border-color: unset !important;
isolation: unset !important;
}
.edit_tabs .nav-link{
    color:#e97011 !important;
    margin-top: 20px;
    border-radius: 10px;
    border: unset !important;
}
.btn_style{
    border: none;
    color: white;
    padding: 8px 28px;
    margin-top: 20px;
}
.change_profile{
    display: none;
}
label.edit_label:hover {
    color: #e97011;
    background: white;
    border: 1px solid #e97011;
}
label.edit_label{
    background: #e97011;
    cursor: pointer;
    padding: 8px 11px;
    border-radius: 5px;
    color: white;
    font-size: 24px;

}
.changeProfile_label{
    cursor: pointer;
    font-size: 16px;
    background: #e97011;
    border-radius: 30px;
    height: 35px;
    width: 35px;
    color: white;
    text-align: center;
    padding-top: 4px;
    transform: translate(-8px, -36px)
    
}
.change_profile_outer {
    display: flex;
   justify-content: space-between;

}
.user_name_heading{
    color: #2E3646;
    font-size: 20px;
}

.ImSpinner_icon{
    font-size: 20px;
}
.tooltip-inner {
    background-color: #ee7817 !important; 
    color: #fff; 
    border: 1px solid #ee7817; 
  }
  
  /* Style for tooltip arrow */
  .tooltip-arrow {
   
    border-color: #ee7817 !important; /* Change arrow color */
    
  }
  .edit_label_container{
    text-align: right;
  }
  .cmn_select_box{
    appearance: auto !important;
    /* color: #9d9a9a !important; */
  }
 
@media screen and (min-width:1499px) {
    .editprofile_outer{
        width: 1100px;
        margin: auto;
    
    }
}
@media screen and (max-width:1024px) {
  
}

@media screen and (max-width:991px) {
  
}
 @media screen and (max-width:767px){
    .update-pic-loading{
       top:35px;
        left: 40%;
        right: 40%;
   
    }
    label.edit_label {
        padding: 6px 8px;
        font-size: 23px;
    }
    .user_pic {
        height: 100px;
        width: 100px;
    }
    .change_profile_outer{
       align-items: center;
       
    }
    .changeProfile_label{
        transform: translate(5px, -36px );
        font-size: 14px;
        height: 30px;
        width: 30px;
        padding-top: 2px;
    }
    h3.user_name_heading {
        margin-top: 12px;
      
    }
 }