.contact_content ul li a{
    color: #000;
    cursor: pointer;
}
.contact_content ul li {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.contact_content svg {
    fill: #F07C33;
    position: relative;
    top: 5px;
    width: 22px;
}

h2.cmn_title {
    text-align: center;
    margin-bottom: 30px !important;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact_content {
    padding: 0px 3em;
}



.contact_content h3 {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 10px !important;
}

.contact_content p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 25px;
    margin-top: 10px;
}
.contact_form .form-control {
    border-radius: 8px;
    border: 0.8px solid #C3C3C3;
    background: #FFF;
    margin: 10px 0px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    min-height:50px;
}
.contact_form {
    border-radius: 10px;
    background: #fff;
    padding: 30px;
}
.contact_form .cmn_bg_btn.schedule_btn.loading {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

@media screen and (min-width:2560px){
div.Contact_us_Outer {
        width: 38%;
        margin: auto;
    }
}
@media screen and (max-width: 1299px){
    h2.cmn_title{
        font-size: 30px;
    }
    .contact_content {
        padding:0px;
    }
    .contact_form {
        padding: 15px 5px;
    }
}
@media(max-width: 991px){
    .contact_content{
        margin-bottom: 2em;
    }
}@media(max-width: 767px){
    h2.cmn_title{
        font-size: 24px;
    }
    .contact_content h3 {
        font-size: 23px;
    }
    .contact_content p {
        font-size: 14px;
    }
    .contact_content ul li {
        font-size: 13px;
    }
    .contact_form .form-control{
        min-height: 0px;
    }
    .contact_form .cmn_bg_btn.schedule_btn.loading {
        font-size: 15px;
        padding: 8px;
    }


}

