.contact_content ul li a{
    color: #141414;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    font-family: "Nunito";
}
.contact_content ul li {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.contact_content svg {
    fill: #F07C33;
    position: relative;
    top: 5px;
    width: 22px;
}

h2.cmn_title {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #2E3646;
}
.contact_content input::placeholder {
    color: #828282;
}
.contact_content textarea::placeholder {
    color: #828282;
}
.PiPhoneCall{
    font-size: 20px;
}
.contact_content {
    padding: 20px;
    background: white;
    min-height: 490px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 3px #f1eded;
   
}



.contact_content h3 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px !important;
    color: #333333;
    font-family: "Nunito";
}

.contact_content p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin:10px 0px 0px !important;
    font-family: "Nunito";
}
.contact_content ul li span{
    color: #141414;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    font-family: "Nunito";
}
.contact_form .form-control {
    border-radius: 8px;
    border: 0.8px solid #C3C3C3;
    background: #FFF;
    margin: 10px 0px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    min-height:50px;
}
.contact_form {
    border-radius: 10px;
    background: #fff;
    padding: 20px;
}
.contact_form .cmn_bg_btn.schedule_btn.loading {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}
.contact_form input::placeholder {
    color: #828282;
}
.contact_form textarea::placeholder {
    color: #828282;
}
.contact_content input{
    margin-top: 15px;
}
.contact_content textarea{
    margin-top: 15px;
}
.sendMessageBtn{
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
  }
  .error_outer{
    font-size: 14px;
  }
@media screen and (max-width: 1299px){
    h2.cmn_title{
        font-size: 30px;
    }
    
    .contact_form {
        padding: 15px 5px;
    }
    .contact_content h3 {
        font-size: 22px;
    }
    .contact_content ul li span {
        font-size: 16px;
    }
    .contact_content ul li a{
        font-size: 16px;
    }
    .Contact_us_Outer {
        padding: 0px 10px 0px 20px !important;
    }
    #contactForm {
        padding: 0px 6px 0px 0px;
    }
    .contact_us_heading{
        padding:20px 0px 20px 14px !important;
    }
    p.error_message.error_outer {
        font-size: 14px;
    }
}
@media screen and (max-width:1024px){
    p.error_message.error_outer {
        font-size: 13px;
    }
}
@media screen and (max-width: 991px){
    .contact_content{
        margin-bottom: 2em;
        min-height: unset;
        height: unset;
    }
    .contact_content ul li:first-child{
        margin-top: 10px;
    }
}
@media screen and (max-width: 767px){
    h2.cmn_title{
        font-size: 24px;
    }
    .sendMessageBtn{
        padding: 6px 10px;
    }
    .Contact_us_Outer {
        padding: 0 10px 0 10px !important;
    }
    
    .contact_content h3 {
        font-size: 20px;
    }
    .contact_content ul li span {
        font-size: 13px;
    }
    .contact_content ul li a {
        font-size: 13px;
    }
   
    div .user-name-outer {
        display: block !important;
    }
    .contact_content textarea {
        margin-top: 13px;
    }
    .contact_content {
        padding: 13px;
    }
    .contact_content p {
        font-size: 14px;
    }
    .contact_content ul li {
        font-size: 13px;
    }
    .contact_form .form-control{
        min-height: 0px;
    }
    .contact_form .cmn_bg_btn.schedule_btn.loading {
        font-size: 15px;
        padding: 8px;
    }


}

