.insight_wrapper {
    background-color: #F4F8FE;
    height: 100%;
}

.insight_heading {
    padding-top: 26px;
    font-weight: 700;
    font-size: 30px;

}

.insight_inner_content {
    border-radius: 22px;
    background: #FFF;
    padding: 20px;
    margin-top: 20px;

}

.no-account-connected-insights-outer {
    background: white;
    border-radius: 20px;
    padding-bottom: 30px;
}

.select-account-txt {
    color: #000;
    font-family: Nunito;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 90.909% */
    letter-spacing: -0.022px;
}

.no-account-txt {
    color: #000;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.014px;
}

.Social_media_wrapper li {
    display: flex;
    justify-content: space-between;
    padding: 8px 6px;
    cursor: pointer;
    border-bottom: 1px solid #DCDCDC;
}

.select-page-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height:calc(100vh - 200px)
    /* height: 100vh; */
}

.arrow-up-image {
    margin-bottom: 70px;
}

.Social_media_platform {
    display: flex;
    gap: 10px;


}

select.days_option {
    border-radius: 12px;
    border: 1px solid #E8E8E8;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
    padding: 6px 9px;
    font-size: 17px;
    font-weight: 600;
}

button.instagram_dropdown::after {
    margin-left: 15px !important;
}
.account_reach_graph_outer .page_title_header {
    margin: 0px;
}
button.instagram_dropdown {
    font-size: 17px !important;
    padding: 10px 23px 10px 0px !important;
}

.Content_Container_box {
    margin-top: 31px;
}

.Choose_platform_title {
    color: #000;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.Social_media_wrapper li:last-child {
    border-bottom: unset;
}

.Social_media_platform h3 {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;

}

.Social_media_platform img {
    height: 21px;
    width: 21px;
}

.chooseplatfrom_dropdown_btn.show.dropdown .dropdown-menu.show {
    /* width: 100%; */
    width: 297px;
    padding: 0px;
    border: 1px solid #F4F4F4;
    background: #FFF;
    box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.07);
}

ul.Social_media_wrapper {
    margin: 0px;
}

input.Social_media_platform_checkbox {
    accent-color: #F07C33;
}

.Social_media_wrapper li:hover {
    background: #F4F8FE;

}

.content_outer {
    border-bottom: 1px solid #CDCDCD;
    padding-bottom: 9px;
}

.social_media_dropdown {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

ul.overview_tabs.nav-tabs.nav-item.show .nav-link, .nav-tabs .nav-link.active {

    border-radius: 4px;
    border: 1px solid #F07C33 !important;
    background: rgba(240, 124, 51, 0.13) !important;
    color: #F07C33 !important;
}

.overview_tabs li.nav-item {
    border-radius: 4px;
    background: #EEE;
    color: rgba(46, 54, 70, 0.80);
}

.overview_tabs.nav-tabs .nav-link {
    color: rgba(46, 54, 70, 0.80);
    font-family: "Nunito";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.hightlighted_text {
    /*color: #F07C33;*/
    font-size: 16px;
}

.color-decline {
    color: red;
}

.color-growth {
    color: green;
}

.overview_text {

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    padding-top: 20px;
    color: #4E4E4E;
}

.scroll-y {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

ul.overview_tabs.nav.nav-tabs {
    gap: 15px;
    border-bottom: unset;
}

.overview_tabs_outer {
    margin-top: 16px;
}

.account_reach_overview_outer {
    border-radius: 7px;
    border: 2px solid #F3F4F4;
    background: #FFF;
    padding: 10px 20px;
    width: 100%;
}

.pie-percentage {
    font-size: small;
    margin-top: 4px;
    text-align: right;
}

.legend-list-item {
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-bottom: 1px solid #e8e5e5;
    margin-top: 9px;
}

.hr-graph-tooltip {
    border: 2px solid #eae7e7;
    min-width: 190px;
    padding: 5px;
    background: white;
}

.insights-loader {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mt-5{
    margin-top: 5rem;
}
.account_reach_overview_outer h4 {
    font-weight: 700;
    font-size: 30px;
    padding: 7px 0px 18px;
}

.account_reach_overview_outer h5 {
    font-size: 16px;
}

.account_reach_overview_wrapper {
    display: flex;
    gap: 15px;
    margin-top: 20px;

}

.top_Arrow {
    font-size: 18px;
}

.account_reach_graph_outer {
    margin-top: 36px;
}

.Donuts_container h3 {
    font-size: 24px;

}

.cmn_insight_wrapper_style {
    border-radius: 7px;
    border: 2px solid #F3F4F4;
    background: #FFF;
    padding: 10px 15px;
}

.Donuts_container {
    margin-top: 22px;
}

ul.top_city_list li {
    display: flex;
    justify-content: space-between;

    color: #8b8d8d;
    border-bottom: 1px solid #F3F4F4;
    padding: 10px 0px;
}

ul.top_city_list li h4 {
    font-size: 17px;
}

ul.top_city_list li:last-child {
    border-bottom: unset;
}

h2.Review_Heading {
    margin-top: 20px;
    font-size: 16px;
}

.cmn_height {
    min-height: 464px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(10%) sepia(100%) saturate(150%) hue-rotate(190deg) brightness(90%) contrast(85%);
}
.noPageHeading{
    padding: 8px 0px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
div.card_body_content {
    margin-top: 20px;
}
.reach-engagement-select {
    display: flex;
    justify-content: end;
}
span.spinner-border.spinner-border-sm.loader.social-account-loader {
    height: 15px;
    width: 15px;
}   
@media screen and (min-width:2560px) {
    .account_reach_overview_outer{
        padding: 40px;
    }
    .account_reach_overview_wrapper {
        gap: 30px;
    }
}
@media screen and (max-width:1280px){
    .social_media_dropdown {
        flex-wrap: wrap;
    }
    .chooseplatfrom_dropdown_btn.show.dropdown .dropdown-menu.show {
        width: 215px;
    }
}
@media screen and (max-width: 1024px) {
    h2.Review_Heading {
        margin-top: 20px;
        font-size: 15px;
    }
    .insight_inner_content {
        padding: 10px;
    }
    
   
}

@media screen and (max-width: 991px) {
    .chooseplatfrom_dropdown_btn.show.dropdown .dropdown-menu.show {
        width: 208px;
    }
    .noPageHeading{
        font-size: 14px;
       
    }
    .account_reach_overview_outer h5 {
        font-size: 12px;
    }

    .account_reach_overview_outer {
        padding: 10px;
    }

    .account_reach_overview_outer h4 {

        font-size: 20px;
    }

    .top_Arrow {
        font-size: 15px;
    }

    .overview_text {
        font-size: 13px;
    }

    ul.top_city_list li h4 {
        font-size: 15px;
    }

    .Social_media_platform {
        margin-top: 22px;
    }

    .Review_Heading {
        padding-top: 13px;
    }

    .Donuts_container h3 {
        font-size: 20px;
    }

    .insight_heading {
        font-size: 25px;
    }
    .select-account-txt{
        font-size: 13px;
    }
    
   

}

@media screen and (max-width: 767px) {
    .account_reach_overview_wrapper {
        display: block;
    }
    .insight_inner_content{
        padding: 17px;
    }
    .reach-engagement-select {
        margin-bottom: 20px;
    }
    .noPageHeading {
        font-size: 12px;
    }
    .Donuts_container h3{
        font-size: 15px;
        line-height: 20px;
    }
    .Choose_platform_title {
        font-size: 18px;
    }
    .select-page-outer{
        display: block;
    }
    
    .arrow-up-image {
        margin-bottom: 20px;
        margin-top: 13px;
    }
    ul.Social_media_wrapper{
        margin: 0px;
    }
    select.days_option{
        font-size: 12px;
        margin-top: 10px;
    }
    .account_reach_overview_outer {
        margin-top: 10px;
    }
    i.facebook_ICON{
        margin-right: 3px !important;
    }

    div.card_body_content {
        margin-top: 10px;
    }

    h2.Review_Heading {
        margin-top: 20px;
        font-size: 12px;
    }
    .chooseplatfrom_dropdown_btn.show.dropdown .dropdown-menu.show{
        width: 100%;
    }
    .demographic_data {
        font-size: 12px;
        font-family:  'Nunito', sans-serif;
        font-style: normal;
        padding-top: 10px;
    }
}