
.resetOuter{
    display: flex;
    justify-content: center;
    background: white;
    align-items: center;
    height: 100vh;
}
.reset_password_content {
    width: 26%;
    padding: 20px;
}
.reset_password_content h2{
    text-align: center;
}

.successScreen_inner {
    background: #fff;
    border-radius: 28px;
    text-align: center;
    padding: 20px 80px;
}

.successScreen {
    background: #FDF6F3;
}

.successScreen_inner button {
    background: #F07C33;
    border: transparent;
    height: 44px;
    width: 100%;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.successScreen_inner h4 {
    color: #4A4A4A;
    font-size: 20px;
    padding: 5px 0px;
    padding-top: 20px;
    font-weight: 600;
}

.successScreen_inner p {
    font-weight: 300;
    color: #4A4A4A;
}