
.resetOuter{
    display: flex;
    justify-content: center;
    background: white;
    align-items: center;
    height: 100vh;
}
.reset_password_content {
    width: 26%;
    padding: 20px;
}
.reset_password_content h2{
    text-align: center;
}