.planner_container .fc-header-toolbar.fc-toolbar{
    padding: 0px;
}
.planner_outer .CalenderOuter_Wrapper .fc-icon-chevron-left::before {
    color: #B94D09;
}
.planner_outer .CalenderOuter_Wrapper .fc-icon-chevron-right::before{
    color: #B94D09; 
}

ul.schdeuled_post_list {
    display: flex;
    padding: 23px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,5%);
    border-radius: 15px;
}

ul.schdeuled_post_list li {
    width: 100%;
    margin: 0;
    text-align: center;
}

ul.schdeuled_post_list li h4 {
    font-size: 28px;
    line-height: 38px;
    padding-bottom: 1px;
}

ul.schdeuled_post_list li h3 {
    font-size: 16px;
    color: rgba(95, 109, 126, 1);
    font-weight: 400;
}

.planner_info {
    display: inline-block;
    text-align: left;
}

ul.schdeuled_post_list li:nth-child(2) {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
button.planner_view_more_btn {
    color: black;
}


.current-date{
    background-color: red;
}
.planner_tag_container{
    position: relative;
}


/* .calendar_card {
    background: #F4F8FE;
    border: transparent;
    border-radius: 4px;
    position: relative;
    z-index: 2;
} */

.draft_btn {
    border-radius: 6px;
    border: 1px solid #D1D9E2;
    background: #FFF;
    padding: 9px ;
    min-width: 117px;
    color: black;
    margin-right: 15px;

    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
}

.edit_calendar_event {
    width: 30px;
    height: 30px;
    position: absolute;
    background: #fff;
    text-align: center;
    line-height: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 9%);
    border-radius: 50%;
    top: -12px;
    right: 0;
    cursor: pointer;
}

.filter_options {
    position: absolute;
    top: 22px;
    right: 1px;
    position: absolute;
    top: 22px;
    right: 1px;
    border: unset;
    padding: 13px 0px 13px 13px;
    min-width: 152px;
    font-size: 16px
}

.draft-post-list-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.calender_outer_wrapper {
    position: relative;
}

.fc-button-primary:not(:disabled):active {
    background-color: unset;
    border-color: unset;
    color: unset;
}





.planner_header h2 {
    color: #2E3646;
    font-family: 'Nunito';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    /* 135.714% */
    letter-spacing: -0.28px;
}

/* calender  */
/* button.fc-today-button.fc-button.fc-button-primary {
color: #000;
font-family: 'Nunito';
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: -0.014px;
border-radius: 6px;
border: 1px solid #C3C3C3;
background-color: white;
padding: 9px 25px;
} */




.fc-header-toolbar.fc-toolbar {
    padding: 18px 0px;
    justify-content: start;
}
.create_post_btn_Wrapper{
    display: flex;
}




.cmn_event_box {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

.Todayevent_outer {
    background: #00A3FF;
}

.Upcomingevent_outer {
    background: #F07C33;
}

.Pastevent_outer {
    background: #DDD;;
}

.events_wrapper {
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
    padding: 24px;
    margin-top: 22px;

}

.highlight-cell {
    background-color: red;
}

.event_group {
    border-right: 1px solid #EBDAF5;
}

.fc-daygrid-day-top a {
    color: #000;
    text-decoration: none;
    font-family: "Nunito";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.22px;
}

.fc-theme-standard td,
.fc-theme-standard th {
    border: 1px solid #E3E3E3;
}

.fc-scrollgrid-sync-inner a {
    color: #232934;
    font-family: "Nunito";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.16px;
    text-decoration: none;
}

button.fc-customHeader-button.fc-button.fc-button-primary {
    color: #000;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.016px;
}

button.fc-customText-button.fc-button.fc-button-primary {
    color: #97A1AD;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.016px;
}




.custom_event {
    width: 100%;
    height: 36px;
    border-radius: 7px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    cursor: pointer;

}

.calendar_card_disable {
    opacity: 0.3;
}



.custom_event img {
    height: 14px;
    width: 14px;
}

.custom_event h3 {
    color: #292929;
    font-family: "Nunito";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.fc-dayGridMonth-view.fc-view.fc-daygrid {
    background: white !important;
}


/* .calender_outer_wrapper thead tr th:first-child {
    border-top-left-radius: 10px;

}

.calender_outer_wrapper tbody tr:last-child > td:first-child {
    border-bottom-left-radius: 20px
}

.calender_outer_wrapper tbody tr:first-child > td:first-child {
    border-top-left-radius: 20px
}

.calender_outer_wrapper tbody tr:last-child > td:last-child {
    border-bottom-right-radius: 20px
}

.calender_outer_wrapper tbody tr:first-child > td:last-child {
    border-top-right-radius: 20px
}

.calender_outer_wrapper thead tr th:last-child {
    border-top-right-radius: 20px;
} */

.calender_outer_wrapper table {
    border-radius: 20px;
    border: transparent !important;

}






.hr-line {
    display: inline-block;
    height: 2px;
    width: 100%;
    background: gray;
    opacity: 0.1;
}





/* .CalenderOuter_Wrapper  .fc-view-harness.fc-view-harness-active  {
    margin-top: 20px !important;

} */
.calendar-container td {
    height: 10px;
}
button.planner_view_more_btn {
    color: black;
    border: none;
    background: transparent;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Nunito';
}
div.fc .fc-daygrid-day-frame {

    /* position: relative; */
    /*min-height: 220px;*/
}

a.fc-daygrid-dot-event:hover {
    background: transparent;
}

.fc-daygrid-day-top {
    height: 34px;
}


.create_post_btn_Wrapper .draft_btn{
    min-width: unset;
    padding: 6px;
    flex-grow: 1;
    width: 100%;
}
.planner_create_post p {
    color: #2F2F2F;
    font-size: 14px;
    font-weight: 400;
}
.planner_create_post {
    background-image: linear-gradient(70deg, #f9ae7f, #FFDDC8);    
    border-radius: 14px;
    padding: 30px 15px;
}
.create_post_btn_Wrapper .create_post_btn{
    padding: 10px;
    width: 100%;
}

.calendar_card h4{
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 10px;
}
.cal_Div.w-100.test {
    overflow: scroll;
    height: 61px;
    scrollbar-width: none;
}
.comment_wrapper{
    padding: 14px 23px;
}
ul.review_list table tbody tr td {
    vertical-align: middle;
}
.CommonFeedPreview_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}



@media screen and (max-width:1280px){
    .create_post_btn_Wrapper{
        flex-wrap: wrap;
      }
      .create_post_btn_Wrapper .create_post_btn {
        margin-top: 13px;
      }
      .create_post_btn_Wrapper .draft_btn{
        margin-right: 0px;
      }
      .create_post_btn_Wrapper .draft_btn {
        padding: 10px;
      }
      ul.schdeuled_post_list li h3{
        font-size: 14px;
      }
     
    
}
@media screen and (max-width:1199px){
    .custom_event{
        justify-content: unset;
        flex-wrap: wrap;
        padding:6px 4px;
        margin-top: 4px;
    
    }
}
@media screen and (max-width:1024px) {
 
  .custom_event{
    flex-wrap: wrap;
  }
 
.cal_Div.w-100.test {
    height: 50px;
    overflow: scroll;
    scrollbar-width: none;
}


  .ul.schdeuled_post_list h3 {
    font-size: 14px;
 
}

}
@media screen and (max-width: 991px) {
   
    .calendar_card {
    height: 60px;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
   
    .planner_view_more_btn{
    overflow-x: scroll;
    scrollbar-width: thin;
    font-size: 12px;
    padding: 4px 10px;
    }
    .create_post_btn_Wrapper .create_post_btn {
        margin-top: 0px
    }
    .create_post_btn_Wrapper{
        flex-wrap: nowrap;
        gap: 17px;
    }
    .planner_create_post {
        margin-top: 20px;
    }
    
    .event_group h5 {
        font-size: 13px;
    }
   

    .event_group {
        border-right: unset;
    }
    
    .planner_header h2 {
        font-size: 24px;
    }
    .planner_header_outer button{
        white-space: nowrap;
    }
}

@media screen and (max-width: 767px) {
    .fc .fc-daygrid-day-number{
        padding: 4px 1px !important;
    }
    
    .create_post_btn_Wrapper .create_post_btn {
        padding: 7px;
    }
    .create_post_btn_Wrapper .draft_btn {
        padding: 7px;
    }
    .planner_header h2 {
        font-size: 22px;
    }
    .card-body.post_card{
        padding: 0px 12px 12px;
    }
   
    .events_wrapper {
        display: block;

    }
    .create_post_btn{
        padding: 7px;
        text-align: center;
        font-size: 10px;
    }
    .create_post_btn_Wrapper{
        display: flex;
        gap: 10px;
    }
    .custom-header {
        margin-top: 13px;
    }

    .event_group {
        border-right: unset;
    }



    .filter_options {
        position: unset;
        font-size: 14px;
    }
    .draft_btn{
        margin-right: 0px;
        font-size: 10px;
        min-width: unset;
        padding: 7px;
    }

}
@media(max-width:576px){
    ul.schdeuled_post_list{
        flex-direction: column;
        gap: 15px;
    }
    ul.schdeuled_post_list li:nth-child(2){
        border: unset;
    }
    .planner_info{
        display: block;
        text-align: center;
    }
    .planner_header_outer {
     flex-direction: column;
    }
    .planner_header_outer button{
        width: 100%;
    }
}