.CalenderOuter_Wrapper {
    display: flex;
    width: 100%;
    gap: 12px;
}

.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
    width: 100%;
}

.scheduled_posts {
    width: 500px;
    padding: 13px;
    border-radius: 15px;
    background: #fff;
    margin-top: 53px;
}

table.fc-col-header {
    border-radius: unset;
    background: rgba(244, 244, 244, 1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.schedule_header span {
    font-size: 18px;
    line-height: 38px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.schedule_header {
    gap: 10px;
}

.schedule_header svg path{
    fill:rgba(95, 109, 126, 1);
}
.posts-loader-outer{
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    background: #FFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.09);
    padding: 10px ;
}
.planner-img-skeleton{
    height: 90px;
    width: 80%;
}