.CalenderOuter_Wrapper {
    display: flex;
    width: 100%;
    gap: 12px;
}
.No_scheduled_post {
    width: 169px;
    margin: auto;
    text-align: center;
}

.No_scheduled_post p {
    padding-top: 41px;
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
}
.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
    width: 100%;
    height: 100%;
}
.sechduled_post_outer {
    max-height: 100vh;
    overflow: auto;
}
.sechduled_post_outer img.post_img {
    border-radius: 7px;

}
.sechduled_post_outer {
    gap: 10px;
}


.scheduled_posts {
    flex:0 0 344px;
    padding: 13px;
    border-radius: 15px;
    background: #fff;
    height:100% ;
}
.scduler_outer .sechduled_post_outer {
    height: calc(100vh - 64px);
    overflow-y: auto;
    scrollbar-width: thin;
}

.planner_calender {
    position: relative;
    border: 1px solid #DCDCDC;
    padding: 12px;
    box-shadow: 0px 0px 8px rgba(0,0,0,5%);
    background: #fff;
    border-radius: 15px;
}


table.fc-col-header th.fc-col-header-cell {
    background: #fff;
}

table.fc-col-header th.fc-col-header-cell a {
    font-size: 14px;
}

table.fc-col-header {
    border-radius: unset;
    background: rgba(244, 244, 244, 1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.schedule_header span {
    font-size: 18px;
    line-height: 38px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.schedule_header {
    gap: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 8px;
}

.schedule_header svg path{
    fill:rgba(95, 109, 126, 1);
}
.posts-loader-outer{
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    background: #FFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.09);
    padding: 10px ;
}
.planner-img-skeleton{
    height: 90px;
}