
.selectedImg {
    border: 2px solid #F07C33;
    border-radius: 7px;
}
.generate_image_wrapper_box {
    padding: 15px 20px;
}
.modal-header{
    border-bottom: unset;
}
.ai_images_outer {
    margin-top: 41px;
    gap: 14px;
    display: flex;
    flex-wrap: wrap;
}
.ai_genarted_img{
    height: 132px;
    width: 132px;;
}
.generate_image_outer{
    position: relative;
}

.generate_image_outer input::placeholder{
color: #5F6D7E;
font-family: "Nunito";
font-size: 12px;
font-style: italic;
font-weight: 500;
line-height: normal;
}
.checkmarkcircle{
    color: rgb(240, 124, 51);
    position: absolute;
    left: auto;
    right: 7px;
    top: 4px;
    font-size: 20px;
}

@media screen and (max-width:767px){
    .generate_image_wrapper_box {
        padding: 10px 0px;
    }
    .ai_images_outer{
        gap: 10px;
        margin-top: 20px;
    }
   
    button.generate_btn {
        margin-top: 20px;
        position: unset;
        padding: 7px 20px;
        font-size: 14px;
    }
    .generate_image_outer input {
        padding: 11px 7px;
    }
    .ai_genarted_img {
        height: 124px;
        width: 124px;
    }
}