.review_header {
    display: flex;
    justify-content: space-between;
}

.filter_select_btn {
    min-width: 126px;
    font-size: 16px;
    height: 44px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #C3C3C3;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
}
.post-image-skeleton{
    height: 60px !important;
}

td.disabled-table-grid {
    background: #80808036 !important;
}
.review-errorMessage{
    min-height: 60px;
    display: grid;
    place-items: center;
    color: #000;
    font-family: "Nunito";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.014px;
}
.acc_not_connected_outer{
    text-align: center;
}
.load-more-cmnt-txt {
    font-weight: 400;
    opacity: .9;
    font-size: 14px;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 6px;
}
.load-more-cmnt-txt:hover{
    background: rgb(0 0 0 / 8%);
}
.load-more-replies-txt {
    font-weight: 300;
    opacity: .9;
    font-size: 12px;
    display: inline-block;
    padding: 2px 4px;
    border-radius: 3px;
    margin-left: 90px;
}
.load-more-replies-txt:hover{
    background: rgb(0 0 0 / 8%);
}

.review-pages-media-dropdown{
    min-width: 180px;
}
.white-space-nowrap{
    white-space:nowrap;
}
.review-social-media-dropdown{
    min-width:120px;
}
.view-post-txt {
    display: flex;
    align-items: center;
    gap: 6px;
    /*color: #F07C33;*/
    font-size: 15px;
}

.comment-profile-pic-loader{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.hr-line-2{
    /*display: inline-block;*/
    width:100%;
    height: 1px;
    background: #DDE3EA;
}
.post-comment-loader{
    position: absolute;
    margin-left: 40%;
}
.table_loader>div {
    min-height: unset !important;
    /* margin-top: 7rem; */
}
.table_loader{
    height: calc(100vh - 200px);
    justify-content: center;
    display: flex;

}
.z-index-1{
    z-index: 1;
}
.save-icon{
    height: 18px;
    width: 18px;
}

.no-cmnt-txt {
    text-align: center;
    min-width: 150px;
    transform: translate(10px,6rem);
}
.pinterest-comments-section{
    font-size: 14px;
    opacity: .8;
    height: 60%;
    display: grid;
    place-content: center;
}

.no-cmnt-outer {
    display: flex;
    align-items: center;
}

.animated-icon{
    animation-name: popUp;
    animation-duration: 0.3s;
}
.no_post_review_outer{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 130px);
}
@keyframes popUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    80% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
.disable-comment {
    font-size: 11px;
    width: 100%;
    padding-left: 10px;
}
.font-weight-bold{
    font-weight: bold;
}
.bg_img {
    width: 100px;
    height: 80px;
    border-radius: 6px;
    object-fit: cover;
}

.review_social_media_outer img {
    position: absolute;
    left: auto;
    right: -7px;
    top: 85px;
    height: 30px;
    width: 30px;
}

.post_review_wrapper {
    display: flex;
    margin-top: 25px;
}

.post_review_wrapper table thead th:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.post_review_wrapper table thead th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.post_review_wrapper table thead th {
    background: #F4F7FC;
    /* background-color: white ; */
}

.post_review_wrapper table thead {

    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
}

.post_review_wrapper table th {
    padding: 14px 15px;
    color: #000;
    font-family: "Nunito";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.16px;
    min-width: 110px;
}
.no_draft img {
    width: 230px;
}
.post_review_wrapper table {
    flex-grow: 1;
}

.view_post_btn {
    font-size: 14px;
    width: 138px;
    height: 40px;
}

.post_review_wrapper table td {
    color: #525254;
    font-family: "Nunito";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 14px 15px;
}

table.review_data {
    border-collapse: separate;
    border-spacing: 0 1em;
}

table.review_data tbody tr:nth-child(even) td {
    /* border-radius: 10px; */
    background: #FFF;

}

table.review_data tbody tr:nth-child(odd) td {
    background: #F4F7FC;
}

table.review_data tbody tr td:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    /* background-color: white; */
}

table.review_data tbody tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

table.review_data tbody tr {
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
}
p.disable-reply-comment {
    opacity: .5;
}
.color-blue{
    color: blue !important;
}
.comment_message {
    font-size: 14px;
    font-weight: 400;
    opacity: .8;
}
.comments_attachments img {
    height: 150px;
}
/*27 dec*/
.comment_section {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.comment_section button#dropdown-basic {
    min-width: unset;
    background: transparent !important;
    box-shadow: unset;
}

.comment_section .comments_messages {
    flex-grow: 1;
}
.font-size-20{
    font-size: 20px;
}
.review_outer{
    margin-top: 3rem;
}
.RotatingLines-loader{
    height: calc(100vh - 319px);
}
img.social_icons_review {
    width: 24px;
}
.review_list li{
    display: flex;
    gap: 10px;
    background: #F9FBFF;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #DEDEDE;
    margin-top: 15px;
    justify-content: space-between;
}
.review_content h3{
    color: #525254;
    font-size: 18px;
    font-weight: 600;

}
.review_list li h5{
    color: #000;
    font-weight: 600;
  
    font-size: 20px; 
}
.review_content p{
    color: #000;
    font-weight: 500;
   
    font-size: 20px;
}
.review_likes_list {
    gap: 34px;
    margin-top: 20px;
}
.not_available_content_outer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: #F9FBFF;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #DEDEDE;
}
.not_available_content_outer h3 {
    font-size: 18px;
    color: #525254;
}
.not_available_content_outer p{
    font-weight: 500;
    font-size: 20px;
}
/* table css start shere */
ul.review_list thead tr th {
    background: rgba(244, 247, 252, 1);
}

ul.review_list table thead tr th {
    background: #fff;
    border: unset;
    height: 66px;
    vertical-align: middle;
    font-size: 16px;
}
ul.review_list table thead tr{
    border-bottom: 20px solid #fff;
}
ul.review_list table tbody tr:nth-child(odd) td {
    background: #F1F1F1 !important;
    --bs-table-bg-type: unset;
}

ul.review_list table tbody tr td {
    vertical-align: middle;
    font-weight: 600;
    color: rgba(82, 82, 84, 1);
}

    ul.review_list table thead tr th:first-child, 
    ul.review_list table tbody tr td:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    ul.review_list table thead tr th:last-child , 
    ul.review_list table tbody tr td:last-child 
        {border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        ul.review_list table {
            border-collapse: separate;
            border-spacing: 0 21px;
            border: solid transparent;
        }
        ul.review_list table tr {
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 5%);
            border-radius: 10px;
            background-color: #fff;
        }
      .review_header   .cmn_dropdown .dropdown-menu a.active {
            background: #f57e3b;
        }
        .cmn_dropdown svg path {
            fill: rgba(95, 109, 126, 1);
        }

@media screen and (max-width:1280px){
    .review_list li h5 {
        font-size: 14px;
    }
    .review_content h3 {
        font-size: 16px;
    }
    .review_content p {
        font-size: 18px;
    }
}


@media screen and (max-width: 1024px) {
    .post_review_wrapper table th {
        padding: 14px 0px 10px 14px
    }
    .not_available_content_outer p{
        font-size: 18px;
    }
    .not_available_content_outer h3 {
        font-size: 15px;
    }
    .review-errorMessage{
        font-size: 15px;
    }

    .view_post_btn {
        width: 107px;
        height: 37px;
    }
}

@media screen and (max-width:991px){
    .post_review_wrapper  {
        scrollbar-color: gray;
        scrollbar-width: thin;
    }
    .not_available_content_outer{
        flex-wrap: wrap;
    }
    .review_list_items_outer{
        flex-wrap: wrap;
    }
    .review_content h3 {
        font-size: 14px;
    }
    .review_header{
        flex-wrap: wrap;
    }
  
    .no_post_review_outer{
        height: unset;
    }
   
}

@media screen and (max-width: 767px) {
    .review_header {
        display: block;
    }
    
    .review_content h3 {
        font-size: 13px;
    }
    .review_social_media_outer img{
        height: 20px;
        width: 20px;
    }
    .not_available_content_wrapper{
        flex-wrap:wrap
    }
   .review_likes_list{
    gap: 20px !important;
    margin-top: 6px;
   }
   .review_content p {
    font-size: 16px;
}
   .review_list li{
    flex-wrap: wrap;
   }
    .review-social-media-dropdown{
        margin-top: 20px;
    }
    .review-pages-media-dropdown{
        margin-top: 10px;
    }
   
    
    
    .post_review_wrapper table td{
        font-size: 12px;
        padding: 14px 0px 10px 14px;
    }

    

    .filter_select_btn {
        margin-top: 14px;
    }
}