.review_header {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
}

.filter_select_btn {
    min-width: 126px;
    font-size: 16px;
    height: 44px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #C3C3C3;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);

}
.acc_not_connected_outer img {
    width: 400px;
}
td.disabled-table-grid {
    background: #80808036 !important;
}
.review-errorMessage{
    min-height: 60px;
    display: grid;
    place-items: center;
    color: #000;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.014px;
}
.acc_not_connected_outer{
    text-align: center;
}
.load-more-cmnt-txt {
    font-weight: 400;
    opacity: .9;
    font-size: 14px;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 6px;
}
.load-more-cmnt-txt:hover{
    background: rgb(0 0 0 / 8%);
}
img.acc_not_connected_img {
    height: 350px;
    margin-top: 60px;
}
.review-pages-media-dropdown{
    min-width: 180px;
}
.white-space-nowrap{
    white-space:nowrap;
}
.review-social-media-dropdown{
    min-width:120px;
}
.view-post-txt {
    display: flex;
    align-items: center;
    gap: 6px;
    /*color: #F07C33;*/
    font-size: 15px;
}
.no-post-review{
    font-size:20px;
}
.hr-line-2{
    /*display: inline-block;*/
    width:100%;
    height: 1px;
    background: #DDE3EA;
}
.post-comment-loader{
    position: absolute;
    margin-left: 40%;
}
.table_loader>div {
    min-height: unset !important;
    /* margin-top: 7rem; */
}
.table_loader{
    height: calc(100vh - 200px);
    justify-content: center;
    display: flex;

}
.z-index-1{
    z-index: 1;
}
.save-icon{
    height: 18px;
    width: 18px;
}
span.highlight {

    color: #0064e0;
}
.no-cmnt-txt {
    text-align: center;
    min-width: 150px;
    transform: translate(10px,6rem);
}
.pinterest-comments-section{
    font-size: 14px;
    opacity: .8;
    height: 60%;
    display: grid;
    place-content: center;
}
.review-post-icon{
    height:27px;
    width: 27px;
}
.no-cmnt-outer {
    display: flex;
    align-items: center;
}
.animated-icon{
    animation-name: popUp;
    animation-duration: 0.3s;
}
@keyframes popUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    80% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
.disable-comment {
    font-size: 11px;
    width: 100%;
    padding-left: 10px;
}
.font-weight-bold{
    font-weight: bold;
}
.bg_img {
    width: 60px;
    height: 60px;
    border-radius: 70%;
}

.post_review_wrapper {
    display: flex;
    margin-top: 25px;
}

.post_review_wrapper table thead th:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.post_review_wrapper table thead th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.post_review_wrapper table thead th {
    background: #F4F7FC;
    /* background-color: white ; */
}

.post_review_wrapper table thead {

    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
}

.post_review_wrapper table th {
    padding: 14px 15px;
    color: #000;
    font-family: "Nunito";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.16px;
    min-width: 110px;
}

.post_review_wrapper table {
    flex-grow: 1;
}

.view_post_btn {
    font-size: 14px;
    width: 138px;
    height: 40px;
}

.post_review_wrapper table td {
    color: #525254;
    font-family: "Nunito";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 14px 15px;
}

table.review_data {
    border-collapse: separate;
    border-spacing: 0 1em;
}

table.review_data tbody tr:nth-child(even) td {
    /* border-radius: 10px; */
    background: #FFF;

}

table.review_data tbody tr:nth-child(odd) td {
    background: #F4F7FC;
}

table.review_data tbody tr td:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    /* background-color: white; */
}

table.review_data tbody tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

table.review_data tbody tr {
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
}
p.disable-reply-comment {
    opacity: .5;
}
.color-blue{
    color: blue !important;
}
.comment_message {
    font-size: 14px;
    font-weight: 400;
    opacity: .8;
}
.comments_attachments img {
    height: 150px;
}
/*27 dec*/
.comment_section {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.comment_section button#dropdown-basic {
    min-width: unset;
}

.comment_section .comments_messages {
    flex-grow: 1;
}
.font-size-20{
    font-size: 20px;
}
.RotatingLines-loader{
    height: calc(100vh - 319px);
}
.review_wrapper {
    height: 100vh;
    min-height: 100%;
}
@media screen and (min-width:1600px) {
    .acc_not_connected_outer img{
        width: 600px;
  
    }
}

@media screen and (max-width: 1024px) {
    .post_review_wrapper table th {
        padding: 14px 0px 10px 14px
    }

    .view_post_btn {
        width: 107px;
        height: 37px;
    }
}

@media screen and (max-width:991px){
    .post_review_wrapper  {
        scrollbar-color: gray;
        scrollbar-width: thin;
    }
    .review_header{
        flex-wrap: wrap;
    }
    .no-post-review{
        font-size: 16px;
    }
    .review-post-icon {
        height: 20px;
        width: 20px;
    }
    .cmn_text_heading {
        font-size: 22px;
    }
}

@media screen and (max-width: 767px) {
    .review_header {
        display: block;
        padding-top: 36px;
    }
   
    .review-social-media-dropdown{
        margin-top: 20px;
    }
    .review-pages-media-dropdown{
        margin-top: 10px;
    }
    .acc_not_connected_outer img {
        width: 100%;
        height: auto;
    }
    
    .cmn_small_heading {
        font-size: 14px;
    }
    .post_review_wrapper table td{
        font-size: 12px;
        padding: 14px 0px 10px 14px;
    }

    

    .filter_select_btn {
        margin-top: 14px;
    }
}