.privacy_wrapper h4 {
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 15px;
}

.privacy_wrapper {
    border-radius: 10px;
    background: #fff;

    margin-top: 25px;
}
.privacy_policy_container {
    background-color: white;
    border-radius: 10px;
    padding-top: 20px;
}

.edit_content.form-control:disabled{
background-color: white !important;
}

.elementor.elementor-96 {
    display: none !important;
}

@media screen and (max-width:991px) {
    .privacy_wrapper p {
       
        font-size: 14px;
    }
 }
 @media screen and (max-width:767px) {
    .privacy_wrapper p {
        line-height: 25px;
   
    }
   
 }