.privacy_wrapper h4 {
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 15px;
}

.privacy_wrapper {
    border-radius: 10px;
    background: #F4F7FC;
    padding: 2em;
}

.privacy_wrapper p {
    line-height: 28px;
}
.elementor.elementor-96 {
    display: none !important;
}
 @media screen and (max-width:991px) {
    .privacy_wrapper p {
       
        font-size: 15px;
    }
 }
 @media screen and (max-width:767px) {
    .privacy_wrapper p {
        line-height: 25px;
        font-size: 14px;
    }
    .privacy_wrapper {
        padding: 20px;
    }
 }