h2,
p,
h3,
h4,
h5,
h6,
label,
ul {
  font-family:"Nunito", sans-serif;
  font-style: normal;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px !important;
}
.dm-sans-font{
font-weight: 700;
color: #263238;
}

p {
  margin: 0px !important;
}

.cmn_btn_color {
  border-radius: 10px;
  background: #f07c33 !important;
}

.LiaThumbsUpSolid{
  fill: rgb(8, 102, 255);
}
.like_text_color{
  color: rgb(8, 102, 255) !important;
}
.cmn_white_bg {
  border: 1px solid #d1d9e2;
  background: #e6e9ec;
  border-radius: 5px;
}
.dropdown-item {
  overflow: hidden;
  text-overflow: ellipsis;
}
ul {
  list-style: none;
  padding-left: 0px !important;
}

.cmn_container {

  padding-left: 63px;
  width: 100%;
  background-color: #fff6f2;
  transition: all ease-in 0.7s;
}
.cmn_height_outer{
  height: 100%;
  min-height: 100vh;
}
.cmn_Padding{
  padding-left: 280px;
  background-color: #fff6f2;
  height: 100%;
  /* min-height: 100vh; */
}
.comment_container {

  padding-left: 63px;
  width: 100%;
  background-color: #fff6f2;
}
.cmn_outer{
  padding: 20px;
}
.cmn_wrapper_outer {
  padding: 0px 30px 30px;


}

.form-control {
  border: 1px solid #5f6d7e;
}

.cmn_blue_bg {
  border-radius: 5px;
  background: #00a3ff;
  border: none;
}

.cmn_blue_border {
  border-radius: 6px;
  border: 1px solid #00a3ff;
  background: #fff;
  padding:9px
}

.cmn_headings {
  color: #5f6d7e;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.013px;
}

img.cmn_width {
  width: 24px;
  height: 23.854px;
}

a {
  text-decoration: none !important;
}

.cmn_white_text {
  color: #fff;
  font-family: "Nunito";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.014px;
}

.cmn_bg_btn {
  color: #fff;
  font-family: "Nunito" ,sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px 15px;
  border: none;
  background-color: #f07c33;
  border-radius: 6px;
}

.cmn_text_heading {
  color: #2e3646;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.28px;
  font-family: "Nunito",sans-serif;
}

.cmn_small_heading {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito',sans-serif;
    line-height: 24px;
    color: #5F6D7E;
}

.box_shadow {
  border-radius: 6px;
  background: #fff;
  box-shadow:3px 2px 8px 4px rgba(16, 24, 40, 0.05);
  
}


textarea:focus-visible {
  outline: unset;
  border: 1px solid #00a3ff;
}

select:focus-visible {
  outline: unset;
  border: 1px solid #00a3ff;
}

:focus-visible {
  outline: unset;
}
.active_bg_color{
  background: #FCF2EC;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cmn_text_style {
  color: #000;
  font-family: "Nunito",sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: -0.2px;
}
.cmn_text{
  color: #737373;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.connection-warning-text {
  font-size: 25px;
  color: red;
}

.skeleton {
  position: relative;
  /*width: max-content;*/
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  background-color: #d8dbde !important;
  color: transparent !important;
  border-color: #ccced1 !important;
  user-select: none;
  cursor: default;
  margin-top: 10px;
}

.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(252, 236, 236, 0) 0,
    rgb(117 113 113 / 20%) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(0, 0, 0, 0)
  );

  animation: shimmer 2s infinite;
  content: "";
}

.skeleton img {
  opacity: 0;
}

h2.closeEyeIcon {
  position: absolute;
  font-size: 15px;
  left: auto;
  right: 10px;
  top: 38px;
  color: #C0C0C0;
}

h2.openEye {
  font-size: 15px;
  left: auto;
  position: absolute;
  right: 10px;
  top: 38px;
  color: #C0C0C0;
}

.form-group {
  position: relative;
}
.cursor_pointer {
  cursor: pointer;
}
h2.acc_not_connected_heading {
  font-size: 20px;
  margin-top: 24px;
}
div:where(.swal2-container).swal2-center>.swal2-popup {
  padding-bottom: 25px !important;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}



.feed_preview_Caption_outer {
  overflow-y: scroll;
  height: 170px;
  overflow-x: hidden;
}
.feed_preview_Caption_outer span{
  font-size: 14px;
}
.feed_preview_Caption_outer h2{
  font-size: 14px;
}

.Caption_outer {
  text-overflow: ellipsis;
   
  cursor: pointer;
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin-bottom: 10px;
}
.white_bg_color{
  background-color: white;
  border-radius: 10px;
}
.nunito_font{
  font-family: "Nunito",sans-serif;
}
.cmn_border{
  border-bottom: 1px solid #D9D9D9;
}
.cmn_shadow{
  box-shadow: 2px 0px 8px #e5e2e2;
}
h2#swal2-title {
 
  font-size: 28px;
    color: #263238;
    font-family: "Nunito";
    font-weight: 800;
}
button.swal2-confirm.confirmButton.swal2-styled.swal2-default-outline:focus {
  box-shadow: unset !important;
}
div#swal2-html-container {
  font-size: 20px;
  color: #263238;
    font-family: "Nunito";
    font-weight: 600;

}
div:where(.swal2-container) div:where(.swal2-actions){
  gap: 15px;
}
button.swal2-cancel.cancelButton.swal2-styled.swal2-default-outline{
  border: 1px solid #263238 !important;
  border-radius: 20px;
  background: initial;
  background-color: white !important;
  color: #263238 !important;
  font-size: 16px;
  padding: 6px 30px;
 
}
button.swal2-confirm.confirmButton.swal2-styled.swal2-default-outline {
  border-radius: 20px;
  padding: 8px 30px;
}

.blink{
  animation: blinker 1s linear infinite;
}
.bg_Color{
  background-color: white;
  /* background-color: #f4f8fe; */
}
.connected_heading{
  font-family: 'Nunito';
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.animation{
  animation-name: fadeInLeft;
  animation-duration: 3s;
}
.Sidebar_containerbox li{
  width: 60px !important;
}

.no_acc_title{
font-family: "Nunito";
font-weight: 700;
font-size: 14px;
line-height: 20px;
}
.inter_font{
  font-family: "Nunito";
  font-weight: 500;
  font-size: 17px;
  color: #292929;
}
@keyframes fadeInLeft {
  0% {
     opacity: 0.2;
     transform: translateX(-50px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}   

@media screen and (max-width: 2560px) {
  div.cmn_loader_outer {
    min-height: calc(100vh - 166px) !important;
  }
}
@media screen and (min-width:1600px){
  .cmn_wrapper_outer {
  width: 100%;
  max-width: 78%;
  margin: auto;
}



}

@media (min-width: 1499px) {
  div.addy_outer,
  div.login_outer {
    padding: 0;
    width: 100%;
    max-width: 450px;
    margin: auto;
   
  }
  .login_outer.bg_white_cream {
    padding: 20px;
}
}

@media screen and (max-width:1280px){
  .connected_heading{
    font-size: 22px;
  }
}
@media screen and (max-width:1024px){
  .connected_heading{
    font-size: 19px;
  }
  .cmn_wrapper_outer {
    padding: 0px 20px 30px;
  }
  .cmn_outer {
    padding: 14px;
  }
}
@media screen and (max-width:991px) {
  h2.acc_not_connected_heading {
    font-size: 16px;
    margin-top: 20px;
}
}
@media screen  and (max-width:767px) {
  .comment_container {
      padding-left: 62px;
  }
  .inter_font {
    font-size: 14px;
  }
  .connected_heading{
    font-size: 14px;
  }
  h2.acc_not_connected_heading {
    font-size: 12px;
    margin-top: 20px;
}
.cmn_wrapper_outer{
  padding: 0px 13px 30px;
}
div#swal2-html-container {
  font-size: 13px;
}
.cmn_Padding{
  padding-left: 60px;
}

}
