.login_outer {
    width: 70%;

}
.cursor_pointer{
    cursor: pointer;
}
.bg_color {
    background: #1E1E1E;
}
.bg_light_orange {
    background: #fff6f2;;
}


.social_login_outer {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
.or_text::before{
    border-top: 1px solid #CCCCCC;
    display: block;
    position: relative;
    top: 9px;
    width: 47%;
    content: "";
}
.or_text::after{
    border-top: 1px solid #CCCCCC;
    display: block;
    content: "";
    position: absolute;
    top: 9px;
    width: 47%;
    content: "";
    left: auto;
    right: 0px;
}
.or_text{
    font-size: 14px;
    font-weight: 500;
    color: #757575;
    text-align: center;
    margin-top: 30px;
    position: relative;

}
.google_img_outer {
    height: 40px;
    width: 40px;
    border: 1px solid #D8D8D8;
    border-radius: 40px;
    text-align: center;
    padding-top: 5px;
}

.addy_outer {
    padding: 0px 95px 20px;
    width: 100%;

}

.error_message {
    color: red;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 5px;
}



.Container {
background-color: white;
}

.login_wrapper {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.addy_img h2 {
    color: #202020;
    text-align: center;
    font-size: 34px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.8px;
    margin-top: 25px;
}

.logo_outer img {
    width: 160px;
    height: unset;
}

.form-control:focus {
    background-color: var(--bs-body-bg);
    border: 1px solid #00A3FF !important;
    outline: 0;
    box-shadow: unset !important;
}

.addy_img p {
    color: #636364;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px; 
    margin-top: 6px;
    margin-bottom: 0px;
}

.reach_user_outer h2 {
    color: #0F1734;
    font-size: 19px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.22px;
}
.reach_user_outer img{
    height: 450px;
}


.logo_outer {
    display: flex;
    justify-content: center;
}

.form-group label {
    color: #181818;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    
}

.sign_up {
    color: #F07C33;
    font-size: 18px;
    font-weight: 700;

   
}

.check_box_outer {
    display: flex;
    justify-content: space-between;
}



.forgotPass_heading {
    color: #181818 !important;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;

}

.login_btn {
    background-color: #F07C33;
    color: #FFF;
    font-family: "Nunito";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border: none;
    width: 100%;
    padding: 10px 0px;
    border-radius: 10px;
    margin-top: 25px;
    height: 48px;

}

.login_google_btn {
    background-color: white;
    color: #626F80;
    border: 1px solid #C3C3C3;
    margin-top: 18px;
}


.form-group input.form-control::placeholder {
    color: #636364;
    font-family: "Nunito";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: -0.015px;
}



.form-group {
    margin-top: 10px;
}
.form-group input{
    border-radius: 11px !important;

}
.cmn_heading {
    color: #5F6D7E;
    text-align: center;
    font-family: "Nunito";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.016px;
    margin-top: 27px;

}

.addy_container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.gr_previous_outer{
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    text-align: center;
    padding-top: 6px;
    margin-top: 25px;
    color: #3E3E3E;
}
.login_form h3 {
    margin-top: 20px;
    font-weight: 700;
    color: #A0A0A0;
    font-size: 18px;
    text-align: center;
}
.login_form {
    margin-top: 30px;
}
@media screen and (min-width:1499px){
    .reach_user_outer img {
        height: 550px;
    }
}
@media screen and  (max-width: 1440px) {
   
    .login_btn {
        height: 44px;
        font-size: 17px;
    }
}
@media screen and (max-width:1280px){
    .addy_img h2{
        font-size: 25px;
        margin-top: 20px;
    }
    .reach_user_outer img {
        height: 350px;
    }
    .reach_user_outer h2{
        font-size: 16px;
    }
    
}
@media screen and(max-width:1024px) {
    .or_text::before{
        right: 6px;
    }
    .or_text::after{
        right: -4px;
    }
}
@media screen and (max-width:991px){
    .addy_container {
        margin: 0px 0px 30px;
    }
    .gr_previous_outer {
        margin-left: 20px;
    }
    
}
@media screen and (max-width: 767px) {
    .addy_img h2 {
        font-size: 25px;
    }

    .addy_img p {
        font-size: 14px;
    }

    .login_outer {
        padding: 20px;
        width: 85%;
    
    }

    .addy_outer {
        padding: 20px;
    }

    button.login_btn {
        padding: 9px;
        font-size: 16px;
        height: 42px;
    
    }


    .cmn_heading {
        font-size: 15px;
    }

    .sign_up {
        font-size: 15px;
    }

    .reach_user_outer h2 {
        font-size: 14px;
    }
    .reach_user_outer img{
        height: 100%;
    }
    

    .logo_outer img {
        height: 45px;
        width: 129px;
    }
}