
.cursor_pointer{
    cursor: pointer;
}
.bg_color {
    background: #1E1E1E;
}



.social_login_outer {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
.or_text::before{
    border-top: 1px solid #CCCCCC;
    display: block;
    position: relative;
    top: 9px;
    width: 47%;
    content: "";
}
.or_text::after{
    border-top: 1px solid #CCCCCC;
    display: block;
    content: "";
    position: absolute;
    top: 9px;
    width: 47%;
    content: "";
    left: auto;
    right: 0px;
}
.or_text{
    font-size: 14px;
    font-weight: 500;
    color: #757575;
    text-align: center;
    margin-top: 30px;
    position: relative;

}
.google_img_outer {
    height: 40px;
    width: 40px;
    border: 1px solid #D8D8D8;
    border-radius: 40px;
    text-align: center;
    padding-top: 5px;
}







.Container {
background-color: white;
}







.form-control:focus {
    background-color: var(--bs-body-bg);
    border: 1px solid #00A3FF !important;
    outline: 0;
    box-shadow: unset !important;
}













.check_box_outer {
    display: flex;
    justify-content: space-between;
}



.forgotPass_heading {
    color: #181818 !important;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;

}



.login_google_btn {
    background-color: white;
    color: #626F80;
    border: 1px solid #C3C3C3;
    margin-top: 18px;
}







.cmn_heading {
    color: #5F6D7E;
    text-align: center;
    font-family: "Nunito";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.016px;
    margin-top: 27px;

}


.gr_previous_outer{
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    text-align: center;
    padding-top: 6px;
    margin-top: 25px;
    color: #3E3E3E;
}

.login_form {
    margin-top: 30px;
}




@media screen and(max-width:1024px) {
    .or_text::before{
        right: 6px;
    }
    .or_text::after{
        right: -4px;
    }
}
@media screen and (max-width:991px){
    
    .gr_previous_outer {
        margin-left: 20px;
    }
    
}
@media screen and (max-width: 767px) {
    

    

    


    .cmn_heading {
        font-size: 15px;
    }

   
    
   
    

    
}