.upcoming_post_outer h2{
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.2px;
}

.post_scheduled_content h4{
    color: #585858;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.024px;
    padding-top: 12px;
}



.selected-option p{

    margin: 0;
}
.selected-option {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 7px;
    border: 1px solid #DCDCDC;
    background: #FFF;
    padding: 7px;
    cursor: pointer;
    align-items: center;
    flex-shrink: 1;
    min-width: 148px;
}
.page_tags {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
    max-width: 98%;
    gap: 10px;
    padding: 4px 0px;
    min-height: 57px;
}
/*/ width /*/

.draft-heading h4.posted-on-txt{
    min-width: 130px;
}
.draft-heading {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 30px 20px;
    /*flex-wrap: wrap;*/
    /*position: relative;*/
}

.draft-outer {
    border-radius: 30px;
    margin-top: 15px;
    box-shadow: 1px 1px 5px #89858538;
    background: white;

}
.page_tags::-webkit-scrollbar {
    width: 2px;
    height:4px
}

/*/ Track /*/
.page_tags::-webkit-scrollbar-track {
    border-radius: 10px;
    width: 4px;
    background: transparent;
}

/*/ Handle /*/
.page_tags::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
    width: 4px;
}
.draft-post-list-outer.row.m-0.mt-5 {
    border-top: 2px solid #D1D9E2;
}

.fc-toolbar-chunk:first-child {
    background: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.fc-toolbar-chunk:last-child {
    background: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.fc-toolbar-chunk {
    padding: 6px 0px;
    background-color: white;
}

button.fc-timeGridDay-button.fc-button.fc-button-primary {
    display: none;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    margin-left: 0px !important;
}

.post-image {
    width: 100%;
}

posted-on-txt {
    font-size: 21px;
    font-weight: 500;
    color: #000000;
    font-family: 'Nunito', sans-serif;
}

.social-media-icon {
    height: 18px;
    width: 20px;
}

.social-media-page-name {
    font-size: 10px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}

.card-body.post_card {
    padding: 20px;
    padding-bottom: 24px;
}

span.post_caption {
    color: #000;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h3.caption {
    color: #5F6D7E;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px !important;
}

.card-body.post_card h5 {
    color: #000;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 3px !important;
}

span.hash_tags {
    color: #5F6D7E;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

button.un_selected {
    border-radius: 6px;
    border: 1px solid rgba(192, 57, 57, 0.27);
    background: rgba(255, 0, 0, 0.18);
    color: #5F6D7E;
    font-family: Nunito;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 5px 17px;
}

button.post_now.cmn_bg_btn, button.outline_btn.schedule_btn {
    max-width: 192px;
    width: 100%;
}

button.outline_btn.schedule_btn {
    border-radius: 6px;
    border: 1px solid #00A3FF;
    background: #FFF;
    padding: 10px 15px;
    font-size: 10px;
}