.upcoming_post_outer h2{
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.2px;
    font-family: "Nunito";
}

.post_scheduled_content h4{
    color: #585858;
    font-family: "Nunito";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.024px;
    padding-top: 12px;
}
.no-draft-img{
    height: 300px;
}
 

.selected-option p{

    margin: 0;
}
.selected-option {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 7px;
    border: 1px solid #DCDCDC;
    background: #FFF;
    padding: 7px;
    cursor: pointer;
    align-items: center;
    flex-shrink: 1;
    min-width: 148px;
}
.page_tags {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
    max-width: 98%;
    gap: 10px;
    padding: 4px 0px;
    min-height: 57px;
}
/*/ width /*/

.draft-heading h4.posted-on-txt{
    min-width: 130px;
    font-size: 18px;
    color: black;
    font-weight: 500;


}
.draft-heading {
    display: flex;
    align-items: center;

    padding: 20px;
  
}
.upcoming_post_outer .draft-heading{
    padding: 0px;
}

.draft-outer {
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: 1px 1px 5px #89858538;
    background: white;
    overflow: hidden;

}
.page_tags::-webkit-scrollbar {
    width: 2px;
    height:4px
}

/*/ Track /*/
.page_tags::-webkit-scrollbar-track {
    border-radius: 10px;
    width: 4px;
    background: transparent;
}

/*/ Handle /*/
.page_tags::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
    width: 4px;
}
.draft-post-list-outer.row.m-0.mt-5 {
    border-top: 2px solid #D1D9E2;
}

.fc-toolbar-chunk:first-child {
    background: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.fc-toolbar-chunk:last-child {
    background: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.fc-toolbar-chunk {
    padding: 6px 0px;
    background-color: white;
}

button.fc-timeGridDay-button.fc-button.fc-button-primary {
    display: none;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    margin-left: 0px !important;
}

.post-image {
    width: 100%;
}

posted-on-txt {
    font-size: 21px;
    font-weight: 500;
    color: #000000;
    font-family: 'Nunito', sans-serif;
}

.social-media-icon {
    height: 22px;
    width: 22px;
}

.social-media-page-name {
    font-size: 13px;
    font-weight: 500;
    padding: 5px 0px 0px 5px;
    font-family: 'Nunito', sans-serif;
}

.card-body.post_card {
    padding: 0px 20px 20px;
}

span.post_caption {
    color: #000;
    font-family: "Nunito";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  
}

h3.caption {
    color: #5F6D7E;
    font-family: "Nunito";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px ;

}
.upcoming_post_content{
    height: 40px;
    overflow-y: scroll;
    line-height: 21px;
    color: #585858;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Nunito';

}
.card-body.post_card h5 {
    color: #000;
    font-family: "Nunito";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 3px !important;
}

span.hash_tags {
    color: #5F6D7E;
    font-family: "Nunito";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

button.un_selected {
    border-radius: 6px;
    border: 1px solid rgba(192, 57, 57, 0.27);
    background: rgba(255, 0, 0, 0.18);
    color: #5F6D7E;
    font-family: "Nunito";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 5px 17px;
}

button.post_now.cmn_bg_btn, button.outline_btn.schedule_btn {
    max-width: 192px;
    width: 100%;
}
button.post_now{
    border:1px solid transparent
}

button.outline_btn {
    border-radius: 6px;
    border: 1px solid #00A3FF;
    background: #FFF;
    padding: 10px 15px;
    font-size: 10px;
}
.draft_button_outer button.post_now {
    width: 100%;
    max-width: 100%;
}


.post_card_inner_content{
    height: 100px;
    overflow-y: scroll;
}
.post_card_inner_content::-webkit-scrollbar-thumb {
    background-color: transparent ;
}

.post_card_inner_content::-webkit-scrollbar-track {
    background-color: transparent ;
}
.draft_button_outer button {
    font-size: 13px;
    font-family: "Nunito";
    font-weight: 700;
}
.hash_tags_outer_container{
    overflow-y: scroll;
    height: 47px;
    line-height: 19px;


}
.hash_tags_outer_container::-webkit-scrollbar-thumb {
    background-color: transparent ;
}

.hash_tags_outer_container::-webkit-scrollbar-track {
    background-color: transparent ;
}
.draft_component_outer .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
    background: white;
    padding-top: 0px;
    width: max-content;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 0px #f9f0f0;
}
.draft_component_outer .dropdown {
    position: absolute;
    left: auto;
    right: 10px;
}

.draft_component_outer button#dropdown-basic {
    color: black;
    padding: 14px 0px;
    width: 100%;
    min-width: 141px;
}
.draft_component_outer .dropdown-menu.show {
    display: block;
    background: #ECECEC;
    border: none;
}
.draft_component_outer a.dropdown-item {
    border-bottom: 1px solid #DBDBDB;
    padding: 10px;
}
.draft_component_outer a.dropdown-item:last-child{
    border-bottom: unset;
}
.filters_outer{
    padding: 10px;
}

.cmn_upcoing_post_header{
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    top: 20px;

}

.Tommorrow_header {
    left: auto;
    right: 10px;
    background: #F07C33;
    color: white;
    border-radius: 5px;
    padding: 2px 8px;
    
}
.post-image-outer{
    position: relative;
}
@media screen and (min-width:2560px){
    div.draft-outer .post_image_outerwrapper {
        height: 500px;
    }
}
@media screen and (min-width:1600px) {
    .no-draft-img {
        max-width: 650px !important;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:1279px) and (min-width:992px){
    .draft_button_outer {
        flex-wrap: wrap;
    }
    

    
}
@media screen and (min-width:992px) {
 
.mt-4.upcomingPostBtn_Outer button {
    min-width: 86px;
    width: 100%;
    padding: 10px ;
}
.draft_button_outer button {
    padding: 9px;
    flex-grow: 1;
    min-width:87px;
    width:100%
    
}
button.outline_btn.schedule_btn{
    padding: 9px;
}
}
@media screen and (max-width:1024px) {
    
   
    .draft-heading h4.posted-on-txt {
        min-width: 102px;
        font-size: 19px;
    }
    .draft-heading{
        gap: 14px;
    }
    
    h2.acc_not_connected_heading {
        font-size: 19px;
    }
}
@media screen and (max-width:991px) {
    button.outline_btn.schedule_btn{
        margin-top: 0px;
    }
    .draft_component_outer .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr{
        margin-top: 20px;
    }
    button.outline_btn {
        padding: 9px;
        width: 100%;
    }
    .draft_button_outer .cmn_bg_btn {
        padding: 10px;
    }
    div.draft_button_outer{
        display: flex !important;
        flex-wrap: wrap;
    }
    h2.acc_not_connected_heading {
        font-size: 16px;
    }
    .card-body.post_card {
        padding: 10px;
    }
    .draft-heading h4.posted-on-txt {
        min-width: 83px;
        font-size: 15px;
    }
    .draft_component_outer .dropdown{
        top: 22px;
    }
}
@media screen and (max-width:767px) {
    button.outline_btn.schedule_btn{
        margin-top: 10px;

    }
    .draft_createPost_outer button{
    font-size: 14px;
    padding: 10px 5px;
    width: 134px !important;
    }
    .draft_component_outer .dropdown{
        position: unset;
    }
    .upcomingPostBtn_Outer{
        flex-wrap: wrap;
    }
    div.draft_button_outer button {
        margin-top: 10px;
    }
    div.draft_button_outer{
        display: block !important;
        margin-left: 0px !important;
    }
    .draft-heading{
        display: block;
    }
    .custom-confirm-button-class {
        padding: 8px 21px !important;
        font-size: 14px !important;
    }
    
    .custom-cancel-button-class {
        padding: 8px 21px !important;
        font-size: 15px !important;
    }
   
    .no-draft-img{
        height: auto;
        width: 100%;
    }
    h2.acc_not_connected_heading{
        font-size: 12px;
    }
    h3.caption{
        font-size: 12px;
    }
   
}