.sidebar_wrapper {
    width: 280px;
    background: #FFF;
    box-shadow: 2px 0px 50px 0px rgba(226, 232, 240, 0.68);
    z-index: 2;
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;


}

.svg_color {
    stroke: black;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #e0dbdb;
}

::-webkit-scrollbar-track {
    background-color: #f1ecec;
}

/* .sc-JrDLc.gaTCvF.pro-sidebar {

border-radius: 22px;
background: #FFF;

box-shadow: 2px 0px 21px 0px rgba(226, 232, 240, 0.68);
} */
i.bar_icon {
    display: flex;
    justify-content: flex-end;
}

.addy_logo {
    width: 178px;
    height: 68px;
    margin-top: 24px;
}

.sidebar_item_outer a {
    color: #97A1AD;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px; /* 231.25% */
    letter-spacing: -0.016px;
    text-decoration: none;
    gap: 20px;
    display: flex;
    align-items: center;
}

.sidebar_item li {
    background-color: white;
    margin-top: 8px;
    width: 275px;

}

.sidebar_item li svg {
    height: 19px;
    width: 19px;
}

.sidebar_container_items {
    border-radius: 15px;
    background: #F4F4F4;
    /* padding: 11px 18px !important; */
}

h4.icon {
    font-size: 18px;
    color: #97A1AD;
}

h4.active_icon {
    color: #000;
    font-size: 18px;
}

a.active {
    color: #000;
}

.profile_img {
    height: 80px;
    width: 80px;
}

.sidebar_item_outers {
    display: flex;
    gap: 10px;
    padding: 0px 24px;
    flex-grow: 1;
    margin-right: 10px;
    align-items: center;
    color: #97A1AD;

}

.sidebar_item_outers h6 {
    color: #97A1AD;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px; /* 231.25% */
    letter-spacing: -0.016px;
    text-decoration: none;
    gap: 20px;
    cursor: pointer;

}

.sidebar_item {
    margin-top: 37px;
}

.user_profile_outer h3 {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.015px;
}

.bar {
    border-left: 3px solid #f07c33;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.sidebar_inner_content {
    /* width: 100%; */
    background: #F4F4F4;
    margin-left: 6px;
    border-radius: 12px;
    padding: 16px 18px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: black;
    margin-right: 6px;
    cursor: pointer;
}

.sidebar_inner_content h6 {
    font-weight: 600;
}

/* .sidebar_item li{
    display: flex;
    gap: 7px;
} */
.user_profile_outer h4 {
    color: #5F6D7E;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.014px;
}

.user_profile_wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    align-items: center;
}

.user_profile_outer {
    border-bottom: 1px solid #D1D9E2;
    padding-bottom: 24px;
}

.sidebar_container {
    height: 100vh;
    position: absolute;
}

i.bar_icon {
    display: none;
}
.profile_container{
    word-wrap:break-word ;
    max-width:150px
}
.user_profile_wrapper  img{
    height: 64px;
    width: 64px;
border-radius: 20px;
}
@media screen and (max-width: 767px) {
    div.sidebar_item_outers {
        padding: 11px 16px;
    }

    .sidebar_content {
        width: 59px;
    }

    .sidebar_content img {
        padding: 13px;
    }

    .cmn_container {
        padding-left: 62px;
    }

    .sidebars_items {
        width: 30px;
    }

    .user_Profile_outer {
        display: none;
    }

    .sidebar_content h2 {
        display: none;
    }

    i.bar_icon {
        display: flex;
        padding: 10px 16px;
    }


.connect_text {
    color: #038000;
    line-height: 18px;
    letter-spacing: -0.01px;
    font-size: 13px;
}
}