.sidebar_wrapper {
    position: fixed;
    top: 0;
    inset-inline-start: 0;
    z-index: 49;
    height: 100%;
    width: 15rem;
    border-inline-end-width: 1px;
    border-inline-end-color: hsla(0, 0%, 100%, .1);
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255);
    font-family: Montserrat, sans-serif;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    transition-duration: .05s;
    transition-timing-function: linear;
    box-shadow: 2px 0px 21px 0px rgba(226, 232, 240, 0.68);
}
ul.sidebar_item {
    border-top: 1px solid #ddd;
    margin-top: 12px;
    padding-top: 1.5px;
}
.sidebar_active svg path {
    stroke: #000;
}
.sidebar_content.sidebar_wrapper {
    width: 4rem;
}
.sidebar_wrapper span {
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1;
    opacity: 1;
    overflow: hidden;
    font-weight: 500;
}
.sidebar_content.sidebar_wrapper span {
    display: none;
}
.sidebar_content.sidebar_wrapper li a {
    padding: .75rem;
}
.sidebar_wrapper li a,
.sidebar_wrapper li .profile_link {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: .5rem;
    padding: .75rem;
    font-size: .78rem;
    font-weight: 600;
    color: rgba(151, 161, 173, 1);
    text-decoration-line: none;
}
.sidebar_wrapper li svg {
    margin-inline-end: .625rem;
    flex: 0 0 19px;
    height: 19px;
}
.sidebar_wrapper li.log_out {
    padding: 0 0.30rem;
}
.sidebar_content.sidebar_wrapper li svg {
    margin-inline-end: 0;
}
.sidebar_wrapper li {
    padding: 0 .75rem;
    position: relative;
}
li.sidebar_active a {
    color: #000;
}
img.profile_img.mobile_profile {
    width: 36px;
    border-radius: 10px;
    margin-right: 7px;
}
li.log_out h3 {
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
}
li.log_out h4 {
    font-size: 14px;
    margin-top: 2px;
}
li.log_out span {
    flex-grow: 1;
}
.sidebar_content.sidebar_wrapper li.log_out {
width: 4rem !important;
}
li.log_out {
    bottom: 0;
    position: fixed;
    border-top: 1px solid rgba(209, 217, 226, 1);
            padding-top:10px;
    padding-bottom:10px;
    width: 15rem;
}
li.sidebar_active a {
    background: rgba(244, 244, 244, 1);
}
.addy_logo {
    width: 158px;
    margin: auto;
}
.user_profile_outer a {
    text-align: center;
    display: block;
}
.sidebar_content.sidebar_wrapper .user_profile_outer {
    width: 54px;
    overflow: hidden;
    padding-left: 6px;
}
.user_profile_outer {
    padding-left: 5px;
}
.sidebar_content.sidebar_wrapper .logout_icon {
    display: none;
}

.sidebar_content.sidebar_wrapper img.profile_img.mobile_profile {
    width: 32px;
}

.cmn_forward_arrow {
    padding: 10px;
}

li.sidebar_active::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background: rgba(240, 124, 51, 1);
    left: 0px;
}