.privacy-policy-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid #F07C33;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    background-color: #fff;
}

/* Style the checkbox when it's checked */
.privacy-policy-checkbox:checked {
    background-color: #F07C33;
    border: 2px solid #F07C33;
}
span.agree-privacy-policy-txt a {
    color: #00A3FF;
}
span.agree-privacy-policy-txt{
    color: #A6A6A6;
}
/* Create the tick mark */
.privacy-policy-checkbox:checked::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.agree-terms-conditions-login{
    display: flex;
    align-items: center;
    font-size: 14px;
}