/* .recharts-wrapper.line_chart {
    width: 100%;
    min-height: 332px;
    margin-top: 14px;
} */
.rechart_container {
    padding: 16px 20px;
    width: "100%";
    padding: "30px";
    max-width: "1440px";
    margin: "20px auto";
}

 @media screen and (max-width:767px){
    .rechart_container{
        padding: 0px 10px;
    }
 }
