.recharts-wrapper.line_chart {
    width: 100%;
    min-height: 332px;
}
@media screen and (max-width:1024px){
    svg.recharts-surface {
        width: 71%;
        height: 100%;
    }
}
@media screen and (max-width:991px){
    svg.recharts-surface {
         width: 69%;
        height: 100%;
    }
}
@media screen and (max-width:767px){
    svg.recharts-surface {
        width: 31%;
        height: 100%;
    }
    /* .recharts-wrapper.line_chart {
        width: 100%;
        height: 100%;
    } */
}