.modal_inner_content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.17);
    border-radius: 19px;
    padding: 10px;
margin-top: 10px;
}
img.no_page_connect_img {
    margin: 6px 0px 20px;
    width: 220px;
}
.logout_popup {
    width: 100%;
    max-width: 522px;
}


.noPageFoundMessage_text {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 20px;
    color: #000;
    font-family: 'Nunito';
}
.followers-reach {
    display: flex;                /* Use flexbox for layout */
    justify-content: center;      /* Center items horizontally */
    align-items: center;          /* Center items vertically */
    gap: 16px;                    /* Space between the items */
    font-size: 16px;
    color: #555;
    margin-top: 6px;
}

.account-detail {
    font-size: 16px;
    color: #888;
}
.account-detail h3{
    font-size: 13px;
    color: #999999;
    font-weight: 500;
    padding-bottom: 2px;
}
.follower_reach_container{
    border-right: 1px solid #c6bcbc;
    padding-right: 28px
}
.account_reach_container{
    padding-left: 12px

}
.header_border{
border-bottom: 2px solid rgba(203, 203, 203, 1);
}
.users_profile {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
    overflow: hidden;
    display: inline-block;
    border-radius: 15px;
}
h4.hiddenNumber {
    filter: blur(3px);
}
.account-detail h4{
   font-weight: 600;
    color: black;
    font-size: 16px;

}
.label {
    font-weight: lighter;            /* Bold for labels */
    margin-bottom: 4px;           /* Space between label and value */
}

.value {
    font-size: 14px;              /* Larger font size for values */
}
.Connectmodal_btn {
    background-color: #F07C33;
}

.modal_inner_content:first-child {
    margin-top: 0;
}



.facebook_content_outer button{
    padding: 5px 22px;
    border-radius: 6px;
}
.acc_already_connect_wrapper .modal-header {
    border-bottom: unset;
}

.user_contents {
    color: #000;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; 
    letter-spacing: -0.014px;
    margin-bottom: 0px;
}


div.modal-content {
    border-radius: 30px;
}
.acc_already_connect_wrapper .modal-content{
    border-radius: 15px;
}
.facebook_title {
    text-align: center;
}

.upgrade_paln_btn {
    padding: 8px 12px;
    margin-top: 19px;
}

.modal-header {
    margin: 17px !important;
    padding-bottom: 16px !important;
    align-items: baseline !important;
}

div.commonmodal_header {
    width: 100%;
}
.pop_up_cross_icon_outer {
    padding-top: 6px;
    padding-right: 4px;
}
.users_name h2 {
    font-size: 17px;
    line-height: initial;
    font-weight: 700;
}

.users_name p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    margin-top: 5px;

}

.user_info_container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.choose_page_outer.modal.show .modal-dialog{
    max-width:600px
}
.facebook_title h2 {
    font-size: 22px;
    color:#000;
    letter-spacing: 0.01px;
}
p.planInfo {
    font-size: 16px;
    font-weight: 300;
    color: #000;
}

p.planInfo span {
    text-decoration: underline;
    color: #00A3FF;
    font-weight: 400;
    cursor: pointer;
}
.modal-body.cmn_body {
    padding: 30px;
}
.users_profile img {
    border-radius: 15px;
 
}

.connect_btn_outer button {
    min-width: 92px;
    height: 35px;
    padding: 8px 12px;
}

.default-button {
    background-color: orange;
    color: white;
}
.facebook_post_modal_outer svg{
font-size: 20px;
}
.connected-button {
    background-color: #e24a4a;
    color: white;
}

.disabled-button {
    background-color: #d1cece;
    color: white;
    cursor: not-allowed;
}

.facebook_content_outer h6{
    font-size: 18px;
    line-height: 25px;
    color: #263238;
    font-weight: 600;
}
.modal_inner_content.disconnect_wrapper .users_profile,
.modal_inner_content.disconnect_wrapper
h2.cmn_text_style,
.modal_inner_content.disconnect_wrapper
button, .modal_inner_content.disconnect_wrapper
.users_name p {
    position: relative;
    opacity: 0.41;
}
.choose_page_container{
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 0px 5px;
    margin: 0px -5px;
}

/*media QUERY*/



@media (max-width: 1440px) {
    .users_profile img {
        height: 60px;
        width: 60px;
        border-radius: 10px;
    }

    .users_name h2 {
        font-size: 17px;
    }
   
}
@media (max-width: 1280px) {
    .facebook_content_outer h6 {
        font-size: 16px;
    }
    .modal-body.cmn_body{
        padding: 25px;
    }
}
@media (max-width: 991px) {
    .users_profile img {
        height: 50px;
        width: 50px;
    }
    .modal-body.cmn_body{
        padding: 20px;
    }
   
    .facebook_title h2 {
        font-size: 18px;
    }
}


@media screen and (max-width: 767px) {
    .facebook_title {
        width: 100%;
    }
    img.no_page_connect_img{
        width: 100%;
    }
    .modal_inner_content {
        align-items: start;
    }

    .user_info_container {
      display: block;
        width: 100%;
        
    }
    .followers-reach{
        justify-content: start;
    }
    .facebook_title h2 {
        font-size: 15px;
        line-height: 21px;
    }
    .user_contents{
        font-size: 14px;
    }
    .facebook_content_outer h6 {
        font-size: 13px;
        line-height: 19px;
        padding: 0px 14px;
    }
    .modal-body.cmn_body{
        padding: 15px;
    }
}

@media (max-width: 567px) {
    .modal_inner_content {
        gap: 0px;
    }

    .facebook_content_outer {
        padding: 0px;
    }
    
}
