.linkedin_post_likes{
    padding: 9px 13px;
    display: flex;
    justify-content: space-between;
}
.linkedin_dropdown {
    /* background: #f4f1f1; */
    padding: 10px 0px;
    /* border-radius: 5px; */
}
.FaLinkedin_icon{
    color: #0866ff;
     
   }
   .linkedin_dropdown svg{
    color: gray;
}
.linkedin_likes h3{
    font-size: 16px;
    color: #696969;
}
.linkedin_likes{
    display: flex;
    gap: 4px;
    align-items: center;
    color: #696969;
}
.thumbsup_icon{
    transform: scale(-1, 1);
}
.update-password-btn {
    margin-right: 5px;
}
.close-update-password-btn {
    margin-left: 5px ;
}
.repost__icon{
    font-size: 22px;
}
.not_connect_heading{
    font-size: 25px;
    color: #2E3646;
    font-weight: 700;
}

.dropdown_opions {
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    
}
.toggle-pswd-visibility-hide {
    top: 42px !important;
}
.toggle-pswd-visibility-show {
    right: 13px !important;
    top: 42px !important;
}
.multiselect_dropdown {
    min-width: 185px;
}
@media screen and (max-width:1280px) {
    .linkedin_likes h3{
        font-size: 14px;
    }
}
@media screen and (max-width:1024px) {
    .linkedin_likes{
        gap: 6px;
       
    }
    .linkedin_likes h3 {
        font-size: 12px;
    }
}

@media screen and (max-width:767px) {
    .linkedin_dropdown{
        display: none;
    }
    .not_connect_heading {
        font-size: 20px;
    }
   .linkedin_likes {
    display: block;
   }
   .linkedin_likes h3{
    line-height: 22px;
   }
    
}
@media screen and (max-width:300px) {
    .update-password-btn-outer {
        display: flex;
        flex-direction: column;
    }
    .update-password-btn {
        margin-bottom: 10px;
    }
    .close-update-password-btn {
        margin-left: 0px ;
    }

}