.more_plans_grid {
    display: flex;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    background: #FFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.09);
    padding: 10px;
}

.plan_grid_img {
    width: 116px;
    height: 106px;
    overflow: hidden;
    border-radius: 6px;
    flex: 0 0 116px;
}

.plan_grid_img img, .more_plans .planner-show-more-img-skeleton {
    width: 100%;
    height: 106px;

    object-fit: cover;
}

.plan_grid_content {
    flex-grow: 1;
}
.media_overlap .planner_tag_container {
    margin-left: -9px;
}

.media_overlap .planner_tag_container:first-child {
    margin: 0;
}
.ellips_text {
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.media_overlap {
    padding-left: 6px;
}
.plan_content_header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.hide_modal {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 19px;
    cursor: pointer;
    font-size: 23px;
    color: #F07C33
}

.plans_tags_wrapper {
    display: flex;
    gap: 10px;
    position: relative;
    width: 100%;
    min-height: 48px;
}

.plans_tags_wrapper .d-flex.page_tags, .plan_grid_content p {
    min-height: inherit;
    padding-left: 15px;
}

.plans_tags_wrapper .d-flex {
    overflow-x: scroll;
    width: 100%;
    /*position: absolute;*/
    white-space: nowrap;
}

.plan_grid_navigations button {
    border-radius: 9px;
    border: 1px solid #D7D7D7;
    background: #F07C33;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    width: 32px;
    height: 32px;
    text-align: center;
    /*display: flex;*/
}

.plan_grid_navigations button:first-child {
    margin-right: 10px;
}

.plan_grid_navigations button:last-child {
    background: rgba(216, 43, 43, 0.96);
}

.plan_tags {
    border-radius: 8px;
    border: 1px solid rgba(254, 73, 160, 0.21);
    background: rgba(255, 88, 101, 0.18);
    padding: 7px 7px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.plan_tags p {
    color: #000;
    font-family: "Nunito";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
}

.plan_tags.facebook {
    border-radius: 8px;
    border: 1px solid rgba(0, 130, 203, 0.50);
    background: rgb(235 248 255);
}
.plan_tags.linkedin {
    background: #cde3ff;
    border-color: #004191;
}

.plan_tags.pinterest {
    background: #ffcfd0;
    border-color: #cb2024;
}

.plan_tags.instagram {
    background: #fdeaf9;
    border-color: #ff67ca;
}
.plan_tag_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

img.plan_social_img {
    position: absolute;
    bottom: 0;
    width: 15px;
    height: 15px;
    left: -16px;
    top: -10px;
}

.plan_tag_img img.plan_image {
    width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.world_icon{
    font-size: 20px;
    color: #939292;

}
.fb_cmt_icon{
    transform: scale(-1,1);
}
.more_plans h2 {
    color: #000;
    font-family: "Nunito";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 16px;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 20px;
}

.more_plans_wrapper {
    margin-top: 20px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.disable_more_plans_grid{
    opacity: 0.6!important;
    pointer-events: none !important;
}
.delete-from-addy-icon{
    margin-left: 4px;
    margin-bottom: 2px;
}
.post-deleted-tag {
    color: #000;
    font-family: "Nunito";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    background: red;
    color: white;
    padding: 2px 6px;
    border-radius: 10px;
    position: absolute;
    top: 38px;
    left: auto;
    right: 0px;
}

.delete-planner-post-loader{
    position: relative;
}

p.hasTags {
    color: #00A3FF;
    font-family: "Nunito";
    font-size: 12px;
}
@media only screen and (max-width: 1024px) and (min-width: 576px)  {
    .modal-dialog.modal-lg.plannner_modal {
        max-width: 94%;
    }
}
@media(max-width:576px){
    .more_plans_grid{
        flex-wrap: wrap;
        position:relative;
    }
    .plan_grid_img img {
        height: unset;
    }

    .plan_grid_img {
        flex: 0 0 100%;
        height: unset;
    }
    .plan_grid_navigations {
        position: absolute;
        right: 5px;
        bottom: 8px;
    }
    .more_plans h2 {
        font-size: 20px;
    }
}