.linkedin_post_likes{
    padding: 9px 13px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ece3e3;
    margin: 12px 10px 0px;
}
.linkedin_dropdown {

    padding: 10px 0px;

}
.FaLinkedin_icon{
    color: #0866ff;
     
   }
   .linkedin_dropdown svg{
    color: gray;
}
.linkedin_likes h3{
    font-size: 16px;
    color: #696969;
}
.linkedin_likes{
    display: flex;
    gap: 4px;
    align-items: center;
    color: #696969;
}
.thumbsup_icon{
    transform: scale(-1, 1);
}
.update-password-btn {
    margin-right: 5px;
}
.close-update-password-btn {
    margin-left: 5px ;
}
.repost__icon{
    font-size: 22px;
    transform: rotate(91deg);
}
.not_connect_heading{
    font-size: 25px;
    color: #2E3646;
    font-weight: 700;
}

.dropdown_opions {
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    
}
.toggle-pswd-visibility-hide {
    top: 42px !important;
}
.toggle-pswd-visibility-show {
    right: 13px !important;
    top: 42px !important;
}
.multiselect_dropdown {
    min-width: 185px;
}
.CropImageModal_header.modal-title.h4 {
    flex-grow: 1;
}
.facebook_title h2 {
    text-align: center;
}
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.controls button{
    border: none;
    background: transparent;
}
.reactEasyCrop_Container {
    height: 500px;
    object-fit: fill;
}
.crop-image-parent.modal-body {
    padding: 0px 17px;
}
div.instagram_like {
    border-bottom: unset;
    border-top: unset;
    padding: 8px 23px;
    margin: 0px;
}
.Caption_outer span{
    font-size: 13px;
}
.instaFeedPrev_outer{
   display: block;
}
.cancel_button{
    background: #d1d1d1;
    border: none ;
    padding: 7px 30px;
   
    color: white;
    border-radius: 10px;
}

.cmn_crop_video_btn{
    padding: 5px 0px;
    border-radius: 5px;
    width: 104px;
    border: 1px solid #ed7e22;
    background: white;
    color: #ed7e22;
    margin: 16px 0px;
}
.video-element-container .noUi-connect {
    background: #efedec !important;
}
.video-element-container .noUi-horizontal {
  
    margin: 10px !important;
}
.instagram_caption_outer{
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 0px 19px;
}
.aspect_ratio_outer {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
}
.aspect_ratio_outer li h5{
    font-size: 12px;
    font-weight: 600;
    padding-top: 2px;
    
}
.aspect_ratio_outer li {

    cursor: pointer;
}
.aspect_ratio_outer li svg{

   font-size: 22px;

}
.Caption_outer h2 {
    font-size: 12px;
}
@media screen and (max-width:1280px) {
    .linkedin_likes h3{
        font-size: 14px;
    }
}
@media screen and (max-width:1024px) {
    .linkedin_likes{
        gap: 6px;
       
    }
    .linkedin_post_likes{
        padding: 0px;
    }
    .linkedin_likes h3 {
        font-size: 12px;
    }
}

@media screen and (max-width:767px) {
    .linkedin_dropdown{
        display: none;
    }
    .not_connect_heading {
        font-size: 18px;
    }
   .linkedin_likes {
    display: block;
   }
   .linkedin_likes h3{
    line-height: 22px;
   }
    
}
@media screen and (max-width:300px) {
    .update-password-btn-outer {
        display: flex;
        flex-direction: column;
    }
    .update-password-btn {
        margin-bottom: 10px;
    }
    .close-update-password-btn {
        margin-left: 0px ;
    }

}