.confirmWrapper {
    text-align: center;
    padding: 30px 0px;
}



.alert_modal_body div.modal-content {
    border-radius: 10px;
}

.confirm_text {
    padding-top: 20px;
}

.confirm_container h2 {
    font-size: 36px;
    font-weight: 500;
}



ul.slick-dots {
    bottom: 18px;

}

ul.slick-dots li.slick-active button:before {
    color: #ff5c00;
}

ul.slick-dots li button:before {
    opacity: 1;
    color: #a69b9b;
}

