.confirmWrapper {
    text-align: center;
    /* padding: 30px 0px; */
}

.yes_btn{
    font-size: 14px;
    border: none;
    color: white;
    font-weight: 600;
}
.success_img{
    height: 120px;
    width: 100%;
}
.alert_modal_body div.modal-content {
    border-radius: 12px;
}

.confirm_text {
    padding-top: 7px;
    color: #263238;
    font-weight: 600;
    font-size: 20px;
}

.confirm_container h2 {
    font-size: 28px;
    font-weight: 800;
}




@media screen and (max-width:1280px){

    .confirm_container h2 {
        font-size: 24px;
    }
    .confirm_text{
        font-size: 18px;
    }
}

@media screen and (max-width:991px){
    .confirm_container h2{
        font-size: 28px;
    }
}
@media screen and (max-width:767px){
    .confirm_text {
        font-size: 15px;
    }
    .yes_btn{
        font-size: 14px;
      }
    .confirm_container h2 {
        font-size: 24px;
    }
  
    .success_img {
        height: 90px;
    }
}