.not_found_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.not_found_outer{
    text-align: center;
}
.not_found_outer img{
    height: 500px;
    width: 700px;
    object-fit: contain;
}
@media screen and (max-width:1024px){
    .not_found_outer img{
     
        width: 100%;
    } 
}