div.Toastify__toast{
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 7px 6px 6px #0000004D;
}


.cust_toast_success{
    background: #2C7A1C !important;
}

.cust_toast_error{
    background: #9D3339 !important;
}
.Toastify__toast-container--top-right{
    right: 2rem;
    min-width: 374px;
}

.cust_toast_warning{
    background: #FFC107 !important;
}


.cust_toast_info{
    background: hsl(198deg 64.52% 87.84%) !important;
}

.Toastify__close-button{
    align-self: center !important;
    opacity: 1;
}

.cust_toast_success i {
    font-size: 40px;
    color: #fff;
}

.cust_toast_error i {
    font-size: 40px;
    color: #fff;
}

.cust_toast_info i {
    font-size: 40px;
    color: hsl(203.7deg 41.12% 38.63%);
}

.cust_toast_warning i {
    font-size: 40px;
    color: #fff;
}

button.Toastify__close-button > svg {
    height: 25px;
    width: 21px;
    fill: #fff;
}


.toast_sub_child_ {
    display: flex;
    align-items: center;
}




.cust_toast_success span {
    color: #fff;
}

.cust_toast_warning span {
    color: #fff;
}

.cust_toast_error span {
    color: #fff;
}

.cust_toast_info span {
    color: hsl(203.7deg 41.12% 38.63%);
}
span.toast_message {
    font-weight: 300;
    font-family: 'Nunito';
}
.Toastify .Toastify__toast-body{
    padding: 0;
   
}